.highlights > .amc-col{
    border-bottom: 3px solid #e75925;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.highlights > .col-arrow{
    max-height: 70px;
    display: inline-block;
    width: 100%;
    height: 3.5rem;
    position: relative;
}
.highlights > .col-arrow:before{
    background: url(/assets/img/tour/arrow-fm.png) center center no-repeat transparent;
    display: inline-block;
    width: 13px;
    height: 18px;
    transform: rotate(90deg);
    position: absolute;
    top: calc(50% - 6.5px);
    left: calc(50% - 9px);
    content: '';
}
.highlights .icon-hl{
    margin-right: 15px;
    height: 35px;
    margin-bottom: 15px;
}
.highlights .icon-hl span{
    background: url(/assets/img/tour/icons-highlight.png) left top no-repeat transparent;
    width: 44px;
    height: 35px;
    display: inline-block;
    margin-top: 0.5rem;
}
.highlights .icon-hl-2 span{
    background-position: -55px top;
}
.highlights .icon-hl-3 span{
    background-position: -100px top;
}
.icon-img{
    margin-right: 4vw;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}
.text-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.tours-slider .swiper-slide{
    background-color: #fff;
}
.countries-slider .swiper-slide ul li.posi{
    justify-content: flex-end;
}
.countries-slider .swiper-slide ul{
    justify-content: space-between;
}
.contain .column.formules-col{
    padding-bottom: 4rem;
}
.countries-slider .swiper-slide{
    padding-bottom: 0;
}