/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2019, 2:02:38 PM
    Author     : dtnguyen
*/
.caption-image{
    color: #6b6b6b !important;
    font-size: 1.4rem !important;
}
.entry-body .amc-row{
    margin-bottom: 2.5rem;
}
.entry-body img {
    width: auto !important;
    max-width: 100%;
    height: auto !important;
}
.entry-body h1{
    font-size: 2.25rem;
    color: #000000;
    font-family: 'LatoLatin-Bold', sans-serif;
}
.entry-body h2{
    font-size: 2rem;
    font-family: 'LatoLatin-Bold', sans-serif;
}

.amc-row-1{
    display: table;
    margin-top: 4rem;
}
.amc-row-1 img{
    display: table-header-group;
    margin-bottom: 2rem;
}
.amc-row-1 .amc-col-left{
    display: table-footer-group;
    
}
.amc-row-2 img {
    max-width: 110% !important;
    margin: 0 -5%;
    /* display: inline-block; */
}
.amc-row-4 .amc-col-left img{
    max-width: 110% !important;
    margin: 0 -5%;
}

.amc-row-7{
    display: table;
}
.amc-row-7 .amc-col-right{
    display: table-header-group;
   
}
.amc-row-7 .amc-col-left{
    display: table-footer-group;
    
}
.amc-row-7 .amc-col-right img{
    max-width: 110% !important;
    margin: 0 -5%;
}
#video{
    margin-bottom: 2.5rem;
}