.tour-slider.swiper-container-horizontal>.swiper-scrollbar{
	    bottom: 50%;
}

.tour-slider .swiper-slide .text-on-img h3, .secrets-slider .swiper-slide h3 {
    margin: 2rem 0 10px;
    font: 2rem LatoLatin-Bold,sans-serif;
    text-transform: uppercase;

}
.swiper-scrollbar-drag{
	background-color: #e65925;
}
.swiper-slide{
	overflow: hidden;
}
/*.swiper-container-horizontal>.swiper-scrollbar{
    width: 100%;
    left: 0;
    bottom: 0;
}*/

/* Css Banner Filter */
.area-filter{
    position: relative;
}
.area-filter .tt-custom{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 8rem;
    padding: 0 2rem;
}
.container-filter .custom-btn-filter{
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2rem;
    margin: 0 auto;
}
.container-filter .custom-btn-filter.custom-btn-filter-fix-posi{
    position: relative;
    left: unset;
    right: unset;
    bottom: unset;
    
}
.container-filter .custom-btn-filter.btn-filter-fixed-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: white;
    padding: 0 3rem;
    border-top: 0.1rem solid #ccc;
    border-top-left-radius: 0.7rem !important;
    border-top-right-radius: 0.7rem !important;
    max-height: 0rem;
}
@keyframes slideDown{
    from {
        max-height: 0;
    }
    to {
        max-height: 6.6rem;
    }
}
.container-filter .custom-btn-filter.btn-filter-fixed-bottom.active{
    max-height: 6.6rem;
    /* iE doesn't play nice with shorthand play-state, but it's initially running so it's redundant */
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;

    -webkit-animation: slideDown 500ms linear 0ms 1 normal forwards; /* Chrome 4.3 | Edge | Safari 4.0 - 8.0 */
    -moz-animation: slideDown 500ms linear 0ms 1 normal forwards; /* Firefox 5.0 | Gecko 16.0 */
    -o-animation: slideDown 500ms linear 0ms 1 normal forwards; /* Opera 12 */
    animation: slideDown 500ms linear 0s 1 normal forwards; /* Modern browsers */
   
}
.container-filter .tt-custom-btn-filter{
    
    margin: 0 auto;
    border-radius: 30rem;
    background: #e65925;
    width: 100%;
    height: 4.7rem;
    line-height: 4.7rem;
    text-align: center;
    display: block;
}
.container-filter .custom-btn-filter.btn-filter-fixed-bottom .tt-custom-btn-filter{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    bottom: 0;
    width: 100%;
     display: inline-block;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 10rem;
    margin: 0.9rem 0;
    
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    bottom: 0;
    width: 100%;
    display: flex;
     height: 4.1rem; 
     line-height: initial; 
    border-radius: 10rem;
    margin: 0.9rem 0;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 0 1.3rem;
}
.area-filter .tt-custom-btn-filter{
    
    border-radius: 30rem;
    background: #e65925;
    width: 92%;
    height: 4.7rem;
    line-height: 4.7rem;
    text-align: center;
}
/*.area-filter .tt-custom-btn-filter {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2rem;
    margin: 0 auto;
    border-radius: 30rem;
    background: #e65925;
    width: 92%;
    height: 4.7rem;
    line-height: 4.7rem;
    text-align: center;
}*/
.text-sumary p{
    text-align: left !important;
    margin-top: 0;
}
/* End Css Banner Filter */

/* Css Item Tour Voyage */
.all-tour .item{
    position: relative;
/*    display: table;*/
}
/*.all-tour .item .amc-col{
    float: left;
    width: 100%;
}*/

.all-tour .item .amc-col{
    padding: 0;
    margin: 0;
}
.all-tour .item .col-left{
       
        position: relative;
    }
    .all-tour .item .col-left .title{
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        right: 0;
        padding: 0 1.25rem;
    }
.all-tour .col-right .title{
/*    position: absolute;
    left: 0;
    right: 0;
    bottom: 3.5rem;
    top: 13rem;
    padding: 0 1.25rem;
    display: none;*/
}
.all-tour .item a{
    position: relative;
    display: block;
}
.all-tour .item a .title{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2rem;
}
.all-tour .item .col-right .title .tt-custom{
/*    position: absolute;
    left: 1.25rem;
    bottom: 6.2rem;*/
    
    line-height: 6.5vmin;
    

}
.all-tour .item .col-right .title .tt-custom-sub-tt{
/*    position: absolute;
    left: 1.25rem;
    bottom: 2rem;*/
    line-height: 5.5vmin;
    
}
.summary{
    float: left;
    width: 100%;
}

.list-info{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    float: left;
}
.list-info li{
    float: left;
    min-height: 3.4rem;
    height: 3.4rem;
    font-size: 1.2rem;
    font-family: 'LatoLatin-Regular', sans-serif;
}
.list-info li.country{
    padding-left: 2.45rem;
    background: url(../../img/mobile/address-49-43.png) 0 0.7rem no-repeat;
    padding: 0.3rem 0 0.1rem 2.95rem;
    background-size: 2.45rem auto;
    display: table;
    width: 37%;
}
.list-info li.country span{
    display: table-cell;
    vertical-align: middle;
    line-height: 1.5rem;
}
.list-info li.time{
    padding-left: 2.45rem;
    background: url(../../img/mobile/calendar-35-37.png) 0 center no-repeat;
    padding: 0.3rem 0 0.1rem 2.25rem;
    background-size: 1.75rem auto;
    display: table;
    width: 22%;
}
.list-info li.time span{
    display: table-cell;
    vertical-align: middle;
    line-height: 1.5rem;
}
.secrets-ailleurs.list-info li.loaitour{
    width: 49%;
}

.list-info li.loaitour{
    
    display: flex;
    padding: 0.3rem 0 0.1rem;
    /* position: relative; */
    width: 40%;
    float: right;
    align-items: center;
    justify-content: flex-end;
}
.list-info li.loaitour .icon{
    background-image: url(../../img/mobile/icon-tour-45-46.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    float: left;
    height: 2.3rem;
    margin-right: 0.5rem;
    width: 2.25rem;
    min-height: 3rem;
    max-width: 3rem;
}
.list-info li.loaitour .text{
/*    display: table-cell;
    vertical-align: middle;
    width: 100%;
    line-height: 1.5rem;*/
}

.btn-see-more{
    display: block;
    text-align: center;
    border-radius: 3rem;
    border: 0.1rem solid #e65925;
    line-height: 4.7rem;
    height: 4.7rem;
}
/* End Css Item Tour Voyage */

 /*  fix nut btn tron footer */
    .btn-show-footer.active{
        display: none;
    }
    /* end fix nut btn tron footer */

/* Fix Css xoay ngang cho Iphone 4 */
/* SEO CONTENT */

#text-content{
     
    text-align: left;
    position: relative;
}
/*
#text-content::before {
    content: "";
    background: url(../../img/page2016/lotus.png) no-repeat center center;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 170px;
}*/

#text-content.iti{
    width: 100%;
    display: inline-block;
}

#text-content.iti.sa:before{
    top: 150px;
}

#text-content.iti.sa{
    padding: 0 0 40px 0;
}

#text-content span.tt-seo{
    text-align: center;
    font-size: 25px;
    font-family: 'Grand Hotel',sans-serif;
    clear: both;
    line-height: 26px;
    display: block;
    margin: 0;
    padding: 3rem 0 4rem;
    background: #EEE;
}
#text-content a{
    color: #e65925;
}
#text-content span.tt-seo.croisiere{
    margin: 50px 0 40px 0;
}
#text-content span.tt-seo.balneaire-mer-cocotiers{
    margin: 45px 0 40px 0;
}

#text-content div.text-sumary{
    background-color: #EEE;
    padding: 145px 4vw 25px 4vw;
    color: #343A40;
    background: #EEE url(../../img/page2016/lotus.png) no-repeat center 0;
    margin-bottom: 4rem;
}

#text-content div h2{
    margin: 0 0 2rem;
    font-size: 1.6rem;
    text-align: left;
    color: #000;
    font-family: 'LatoLatin-Bold',sans-serif;
    text-transform: inherit;
    line-height: 1.3;
}

#text-content div p{
    margin: 0 0 2rem 0;
    font-size: 1.4rem;
}

#text-content div p:last-child{ margin: 0; }

.devis-btn {
    background: #e65925;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 1.6rem LatoLatin-Bold, sans-serif;
    color: #fff;
    width: 100%;
    height: 5rem;
    border-radius: 0.5rem;
    flex-direction: column;
    border: none;
    margin: 0;
}

.tt{
    font-family:  LatoLatin-Bold,sans-serif;
}
/*h2.tt{
    font-size: 2rem;
}*/

.swiper-container .swiper-slide-80 {
    width: 80%;
}

.countries-slider .swiper-slide{
    background-color: #f7f7f7;
    padding-bottom: 2rem;
}

.countries-slider .swiper-slide ul{
    magin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.countries-slider .swiper-slide ul li{
    list-style: none;
    display: inline-flex;
    align-items: center;
}
.countries-slider .swiper-slide ul li img{
    margin-right: 0.5rem;
}
.contain .column, #wrapper .column {
    width: 100%;
    /* padding: 0 4vmin; */
    font-size: 1.6rem;
    font-family: 'LatoLatin-Regular', sans-serif;
    line-height: 2rem;
}
.button-devis {
        display: block;
    text-align: center;
    border-radius: 0.5rem;
    border: 0.1rem solid #e65925;
    line-height: 4.7rem;
    height: 4.7rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 2rem;
    color: #e65925;
    font-family: LatoLatin-Bold,sans-serif;
}
.formules-col .formules-button{
    padding: 0 4vmin;
}
.content-col{
    margin-top: 2rem;
    float: left;
    width: 100%;
}
.content-col .image-left{
    position: relative;
}
.content-col .image-left img{
    width: -webkit-calc(100% + 8vw);
    width: -moz-calc(100% + 8vw);
    width: calc(100% + 8vw);
    margin: 0 -4vw;
}
.content-col .image-left .fill-bg {
    position: absolute;
    left: -4vw;
    top: 0;
    right: -4vw;
    bottom: 0;
    background: url(/assets/img/tour/bg-content-image.png) 0 0 no-repeat;
    background-size: 100% 101%;
}
.content-col .image-left img.position-absolute{
    position: absolute;
    right: 0;
    top: 0;
}
.icons .amc-col{
    display: flex;
    align-items: center;
    padding: 0 0vw;
    margin-bottom: 2rem;
}
.icons .amc-col img{
    margin-right: 2rem;
}
.contain .column ul, #wrapper .column ul{
    margin: 0;
    padding: 0;
}
img.focus-center {
    object-fit: cover;
    object-position: center;
    max-height: 500px;
    height: 22.25rem;
}
.bg-f7{
    background-color: #f7f7f7;
}
.col-tours .swiper-slide ul{
    justify-content: flex-start;
}
.col-tours .swiper-slide ul li:first-of-type{
    padding-left: 0;
    margin: 0 !important;
}
.col-tours .swiper-slide ul li:last-of-type{
    padding-right: 0;
    margin: auto;
    float: right;
}
.contain  .column.formules-col{
        margin: 0 -4vw !important;
    width: 100vw !important;
    padding: 0 4vw;
}
.w-100{
    width: 100%;
}
.no-padding{
    width: 100vw;
    margin: 0 -4vw;
}
.portrait{
    padding: 0 4vw;
    margin-top: 4rem;
    width: 100vw !important;
}
.mb-40{
    margin-bottom: 2rem;
}
.blogs  .swiper-slide .img{
    position: relative;
}
.blogs  .swiper-slide .img p{
    margin: 0;
    color: #fff;
    font: 1.4rem LatoLatin-Regular,sans-serif;
    padding: 4px;
    position: absolute;
    right: 14px;
    bottom: 12px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 7px;
}
.blogs  .swiper-slide .text{
    padding: 0 2rem;
}
.swiper-slide {
  height: auto;
}
.testi-slider .swiper-pagination {
    bottom: 2.7rem;
    z-index: 1;
}
.mt-50{
    margin-top: 2.5rem;
}
.mt-txt-50{
    margin-top: 2rem;
}
.mb-50{
    margin-bottom: 2.5rem;
}
.mb-txt-50{
    margin-bottom: 2rem;
}

.mt-80{
    margin-top: 4rem;
}
.mt-txt-80{
    margin-top: 3.5rem;
}
.mb-80{
    margin-bottom: 4rem;
}
.mb-txt-80{
    margin-bottom: 3.5rem;
}

.testi-slider .swiper-pagination .swiper-pagination-bullet-active {
    background: #e35429;
    box-shadow: none;
}
.testi-slider {
    padding-bottom: 1rem;
    position: relative;
    padding: 0;
}
.testi-slider .swiper-slide {
    padding: 2rem 2rem 5rem;
    height: auto;
    text-align: center;
}
.d-flex{
    display: flex;
}
.d-inline-block{
    display: inline-block;
}
.d-inline-flex{
    display: inline-flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.testi-slider .swiper-slide .detail img{
    margin-right: 1rem;
    border-radius: 100%;
}
.testi-column .tt-custom{
    line-height: 1.2;
}

@media only screen and (orientation:landscape){
    
    .contain{
        padding: 0 1.5rem;
    }
    .list-info li.country{
        width: auto;
        margin-right: 0.5rem;
        padding-left: 2.45rem;
    }
    .list-info li.time{
        width: auto;
        padding-left: 2rem;
    }
    .list-info li.loaitour{
        width: 44%;
/*        margin-right: -1.3rem;*/
       
    }
    
    
    .all-tour .item .col-left{
        float: left;
        width: 40%;
    }
    .all-tour .item .col-right{
        float: right;
        width: 57.5%;
        margin-top: -0.2rem;
        display: table;
    }
    .all-tour .item .col-left .title{
        display: none;
    }
    .all-tour .item .col-right .title{
        position: inherit;
        left: inherit;
        right: inherit;
        bottom: inherit;
        padding: 0;
        display: block;
    }
    .all-tour .item .col-right .title .tt-title{
        color: #282828;
    }
    .all-tour .item .col-right .space-horizontal{
        height: 0.5rem;
    }
    .all-tour .item .col-left a.fix-xoay-ngang{
        background-position: center center;
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        min-height: 22rem;
        max-height: 22rem;
    }
    .all-tour .secrets-ailleurs.list-info li.loaitour{
        width: 57%;
        margin-right: 0rem;
    }
    .all-tour .secrets-ailleurs.list-info li.country{
        padding-left: 2.8rem;
        width: 37%;
    }
    
}

/* End Fix Css xoay ngang cho Iphone 4 */

/* Fix Css Xoay Ngang Iphone 5 tro len */


@media (min-width: 568px) and (orientation:landscape){
    .all-tour .item .col-left{
        width: 48%;
    }
    .all-tour .item .col-right{
        width: 49.5%;
        display: table;
    }
    .all-tour .item .col-right .summary p{
        line-height: 6vmin;
    }
    .list-info li.country{
        margin-right: 0.7rem;
        padding-left: 2.3rem;
        background-size: 2.2rem auto;
    }
    .list-info li.time{
        background-size: 1.55rem auto;
        padding-left: 1.7rem;
    }
    .list-info li.loaitour{
        width: 40%;
    }
    .list-info li.loaitour .icon{
        background-size: 90% auto;
        background-position: 0 center;
        margin-right: 0;
    }
/*    .all-tour .item .col-left a.fix-xoay-ngang{
        background-position: center center;
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        min-height: 11rem;
        max-height: 22rem;
    }*/
}

/* End  Fix Css Xoay Ngang Iphone 5 tro len */

@media (min-width: 667px) and (orientation:landscape){
    .list-info li.country{
        margin-right: 1.5rem;
       
    }
}

