/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2016, 8:43:14 AM
    Author     : dtnguyen
*/

.contain.container-1{
    height: 566px !important;
    background: #ccc;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/assets/img/dtn/loading-64-64.gif);
    margin-top: 0;
}
.contain.container-1 .row-1{
    top: 0;
}
.container-1 > img{
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 1366px){
/*    body .contain.container-1{
        height: 480px !important;
    }*/
    .container-1 .column .title{
        font-size: 35px;
    }
} 

@media (max-width: 1000px){
    body .contain.container-1{
        height: 350px !important;
    }
}
@media (max-width: 568px){
    .contain.container-1{
        height: 180px !important;
    }
}    