/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 5, 2019, 2:47:25 PM
    Author     : dtnguyen
*/


.leaflet-control-attribution a{ display: none;  } 

.leaflet-pane > svg #fix:hover{
    transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: all 0s ease-in 0s;
  -webkit-transition: all 0s ease-in 0s;
}
.leaflet-popup-content-wrapper{
    box-shadow: none;
    border-radius: 5px;
}
.leaflet-popup-content{
    margin: 2px 20px;
}
.leaflet-container a{
    color: #000;
}
.leaflet-container a:hover{
    color: #e65925;
}
.container-1 .breadcrumb {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    height: 23px;
    background: none;
}
.container-1 .breadcrumb a, .container-1 .breadcrumb span {
    font-size: 13px;
    color: white;
    font-family: inherit;
}
.container-1 .row-2 {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
}
.container-1 .amc-column .title {
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 0;
}
.menu-tab .amc-column ul li:hover a, .menu-tab .amc-column ul li.active a {
    color: #e65925;
}
.menu-tab .amc-column ul {
    margin: 0;
    padding: 0;
}
.contain{
    clear: left;
}
.contain .amc-column {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
   
}
.container-tour-country .area-slider-swiper{
    width: 100%;
    max-width: 1310px;
    margin: 0 auto;
}
.area-text{
    width: 650px;
    margin: 0 auto;
}
.area-text h2{
    font-size: 24px;
    font-family: 'LatoLatin-Bold', sans-serif;
    margin: 0px 0 20px 0;
}
.area-text .amc-btn-control-text{
    color: #e65925;
    display: block;
    margin: 20px 0 35px;
    cursor: pointer;
}
.area-text .amc-btn-control-text:hover{
    opacity: 0.8;
}
.area-text .fullstring-text{
    display: none;
}
.area-text .last-character{
    display: none;
}

#map{
    width: 100%;
    height: 640px;
    display: flex;
}
.container-search-destination-map .amc-column{
    position: relative;
    z-index: 1;
}

.container-search-destination-map .area-input{
    width: 575px;
    margin: 0 auto;
    display: table;
}
.search-destination .area-query-destination{
    float: left;
    position: relative;
    width: 100%;
}
.search-destination input{
    border: medium none;
    
    color: inherit;
    float: left;
    font-family: "LatoLatin-Regular",sans-serif;
    
    height: 40px;
    margin: 0 0 0px;
    padding: 0 0 0 19px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
}
.result-search {
    position: absolute;
    left: 0;
    top: 41px;
    width: 100%;
    display: none;
}
.result-search.active {
    display: block;
}
.result-search ul {
    margin: 0;
    padding: 15px 18px 2px;
    list-style: none;
    width: 100%;
    background: #ececec;
    border: 1px solid #b1b1b1;
}
.result-search ul li {
    margin-bottom: 15px;
    cursor: pointer;
}
.result-search ul li.selected {
    background: #c0c0c0;
}
.result-search ul li.selected .it{
    color: #e65925;
}
.result-search ul li .it {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    padding-left: 10px;
}
.result-search ul li:hover .it{
    color: #e65925;
    background: #c0c0c0;
}

.container-search-destination-map .control-map{
    clear: left;
    width: 100%;
    margin-top: 40px;
    height: 640px;
    z-index: 0;
    position: relative;
}

.container-envis .area-envis{
    width: 100%;
    position: relative;
    display: table;
}
.container-envis .area-envis .item {
    width: 240px;
    float: left;
}
.container-envis .area-envis .item:nth-of-type(3n + 1){
    clear: both;
}
.container-envis .area-envis .item-fix-margin{
    margin: 0 110px;
}
.container-envis .area-envis .item a{
    display: flex;
}
.container-envis .area-envis .item a:hover{
    color: inherit;
}
.container-envis .area-envis .item a img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-right: 15px;
    display: table;
}
.container-envis .area-envis .item p {
    margin: 0;
    width: calc(100% - 60px);
}
.container-envis .area-envis .item p span {
    display: block;
    margin: 0;
}
.container-envis .area-envis .item p span.tt-2{
    font-size: 13.5px;
    color: #6b6b6b;
}

/*.container-tour-country .area-slider-swiper .swiper-button-prev{
    background: url(/assets/img/page2016/back-slide-xam.png) left top no-repeat transparent;
}
.container-tour-country .area-slider-swiper .swiper-button-next{
    background: url(/assets/img/page2016/back-slide-xam.png) left top no-repeat transparent;
}*/
.container-tour-country .area-slider-swiper .swiper-pagination{
    margin-top: 34px;
    height: 16px;
}
.container-tour-country .swiper-container .item-img img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.container-tour-country .swiper-container .item-img .text-on-img{
    margin: 18px 0 0 0;
}
.container-tour-country .swiper-container .item-img a:hover{
    color: initial;
}
.container-tour-country .swiper-container .item-img .text-on-img:hover{
    color: #e65925;
    opacity: 0.8;
}

.container-button-guide-book .area-guide-book{
    padding: 130px 0 60px;
    background: #d9d8d4;
    position: relative;
    overflow: hidden;
    height: 569px;
    
}
.container-button-guide-book .area-guide-book.vietnam.visible{
    background-image: url('/assets/img/page2016/vietnam.jpg');
}
.container-button-guide-book .area-guide-book.laos.visible{
    background-image: url('/assets/img/page2016/laos.jpg');
}
.container-button-guide-book .area-guide-book.cambodge.visible{
    background-image: url('/assets/img/page2016/cambodge.jpg');
}
.container-button-guide-book .area-guide-book.birmanie.visible{
    background-image: url('/assets/img/page2016/birmanie.jpg');
}
.container-button-guide-book .area-guide-book.visible{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0;
}

.container-button-guide-book .area-guide-book::before{
    content: '';
    width: 100%;
    height: 140px;
    /* border: 1px solid red; */
    position: absolute;
    left: 0;
    right: 0;
    background: #e6e6e4;
    bottom: 0;
    z-index: 0;
/*    display: none;*/
}
.container-button-guide-book .area-guide-book .img-book{
    z-index: 1;
    position: relative;
}
.container-button-guide-book .area-guide-book .img-book::before, container-button-guide-book .area-guide-book .img-book::after
{
/*    z-index: -1;
    position: absolute;
    content: "";
    bottom: 58px;
    left: 32px;
    width: 84%;
    top: 76%;
    max-width: 289px;
    background: #777;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: -161px 87px 30px #777;
    -webkit-transform: rotate(-16deg);
    -moz-transform: rotate(-16deg);
    -o-transform: rotate(-16deg);
    -ms-transform: rotate(-16deg);
    transform: rotate(16deg);*/
}
.container-button-guide-book .area-guide-book .img-book::after
{
/* -webkit-transform: rotate(-16deg);
    -moz-transform: rotate(-16deg);
    -o-transform: rotate(-16deg);
    -ms-transform: rotate(-16deg);
    transform: rotate(16deg);
  right: 10px;
  left: auto;*/
    content: '';
    position: absolute;
    right: 100%;
    width: 167px;
    height: 98px;
    background: url(/assets/img/page2016/shadow-guide-book.png) right bottom no-repeat;
    bottom: 0;
    background-size: 100%;
    
        
}



.container-button-guide-book .area-guide-book .right-guide{
    width: 390px;
    margin-left: 50px;
    z-index: 1;
}
.container-button-guide-book .area-guide-book .right-guide p:first-of-type{
    line-height: 1.2;
    font-size: 24px;
    font-family: 'LatoLatin-Bold', sans-serif;
}
.container-button-guide-book .area-guide-book .right-guide p{
    margin: 0;
}
.container-button-guide-book .area-guide-book .right-guide p:nth-of-type(2){
    margin-bottom: 16px;
}
.container-button-guide-book .area-guide-book .right-guide form input{
    width: 100%;
    margin: 22px 0 0px;
    font-family: LatoLatin-Regular,sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    height: 48px;
    border: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b1b1b1;
    font-size: 13.5px;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #b1b1b1;
    font-size: 13.5px;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #b1b1b1;
    font-size: 13.5px;
}
:-moz-placeholder { /* Firefox 18- */
    color: #b1b1b1;
    font-size: 13.5px;
}
.container-button-guide-book .area-guide-book .right-guide form .error-email{
    font-size: 13px;
    color: #e35429;
    margin-top: 5px;
    line-height: 1;
    display: none;
    font-family: 'LatoLatin-Regular', sans-serif;
}
.container-button-guide-book .area-guide-book .right-guide form .submit-email{
    float: right;
    margin-top: 25px;
}


.container-button-contact .devis-btn-block .text {
    font-size: 25px;
    font-family:  grand hotel,sans-serif;
}
.container-button-contact .devis-btn-block .text span{
    font-size: 20px;
    display: block;
}
.container-button-contact .devis-btn-block {
    background: #f2f2f2;
}
.container-button-contact button{
    width: 210px;
}

@media (max-width: 1400px){
    .container-tour-country .area-slider-swiper{
        max-width: 940px;
    }
}
@media (max-width: 960px){
    .container-tour-country .area-slider-swiper{
        max-width: 700px;
    }
    .container-envis .area-envis .item-fix-margin{
        margin: 0;
    }
    .container-envis .area-envis .item:nth-of-type(2n + 1){
        margin-right: 219px;
    }
    .area-text{
        width: 100%;
    }
    .container-button-guide-book .amc-column{
        width: 100% !important;
    }
    .container-button-contact .devis-btn-block .text{
        width: 36%;
        text-align: left !important;
        padding-right: 50px;
    }
    .container-search-destination-map .area-input{
        width: 100%;
    }
    .container-envis .area-envis .item:nth-of-type(3n + 1){
        clear: none;
    }
/*    .container-button-guide-book .area-guide-book.visible{
        background-position: -100px 0;;
    }*/
}

@media (max-width: 860px){
/*    .container-button-guide-book .area-guide-book.visible{
        background-position: -50px 0;
    }    
    .container-button-guide-book .area-guide-book .right-guide{
        margin-left: 400px;
    }*/
    
}
@media (max-width: 800px){
/*    .container-button-guide-book .area-guide-book.visible{
        background-position: -100px 0;
    }    
    .container-button-guide-book .area-guide-book .right-guide{
        margin-left: 340px;
    }*/
    
}