/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2016, 10:29:54 AM
    Author     : dtnguyen
*/
a:hover{
    color: inherit;
}
a:hover *{
    color: initial;
}
.text-sologan{
    background: rgba(0,0,0, 0.6);
    position: relative;
    z-index: 1;
}
.area-btn-list-menu{
    background: rgba(255,255,255, 0.8);
    z-index: 1;
}
.contain{
    float: left;
    clear: left;
    width: 100%;
    height: auto;
    font-size: 15.5px;
    font-family: 'LatoLatin-Regular', sans-serif;
}
.contain .amc-column{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.contain .amc-column-fixpadding{
    
    padding: 0 0px;
}
.contain .amc-column .rows {
    clear: left;
    width: 100%;
    float: left;
}
.container-1 .row-1{
     background: rgba(0,0,0, 0.5);
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 150px;
}
.container-1 .breadcrumb{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    height: 23px;
    background: none;
}

.container-1 .breadcrumb a, .container-1 .breadcrumb span{
    font-size: 13px;
    color: white;
    font-family: inherit;
}
.container-1 .breadcrumb a:hover{
    text-decoration: underline;
}
.container-1{
    margin-top: -150px;
    position: relative;
    z-index: 0;
}
.container-1 .row-2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.container-1 .row-2 .tt-s{
    font-size: 22px;
    color: white;
    margin: -5px 0 35px;
    text-shadow: 2px 2px 2px #000;
}
.contain.container-1 .amc-column .title{
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    text-shadow: 2px 2px 2px #000;
}

.container-2 .row-2{
    margin: 40px 0 0 0;
}
.container-2 .row-1{
    margin-bottom: 70px;
}
.container-2 .row-1 .amc-col{
    float: left;
}
.container-2 .row-1 .amc-col-1{
    width: 770px;
}
.container-2 .row-1 .amc-col-2{
    width: 170px;
}
.container-2 .row-1 .amc-col-1 .text{
    clear: left;
     float: left;
    margin-top: 50px;
    margin-left: 200px;
    text-align: center;
    margin-right: 40px;
}
.container-2 .row-1 .amc-col-1 .text-2{
     clear: left;
    margin: 5px 78px 0 248px;
    text-align: center;
}
.container-2 .row-1 .amc-col-1 .area-tab{
    clear: left;
    float: left;
    width: 100%;
    
}
.container-2 .row-1 .amc-col-1 .area-tab ul{
    margin: 25px auto 0;
    padding: 0;
    border-bottom: 0px;
    display: inline-block;
    
}
.container-2 .row-1 .amc-col-1 .area-tab ul li{
    margin: 0;
    padding: 0 2px;
    float: left;
    border-right: 1px solid #9d8954;
}
.container-2 .row-1 .amc-col-1 .area-tab ul li:last-child{
    border-right: none;
}
.container-2 .row-1 .amc-col-1 .area-tab ul li a{
    font-size: 15.5px;
    text-transform: uppercase;
    font-family: 'LatoLatin-Bold', sans-serif;
    color: #323232;
    margin: 0 0px;
    padding: 0 7px;
    border:none;
    border-radius: 0px;
}
.container-2 .row-1 .amc-col-1 .area-tab ul li.active a{
    color: #d8ccab;
    background: #da521f;
    border-radius: 0px;
    border:0px;
    margin: 0;
}
.container-2 .row-1 .amc-col-1 .area-tab .t-1{
    font-size: 13.5px;
    color: #e35429;
    text-transform: uppercase;
    font-family: 'LatoLatin-Bold', sans-serif;
    margin: 0;
}
.container-2 .row-1 .amc-col-1 .area-tab .t-2{
    font-size: 13.5px;
    font-family: 'LatoLatin-Bold', sans-serif;
    margin: 0;
}
.container-2 .row-1 .amc-col-1 ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 200px;
   
}
.container-2 .row-1 .amc-col-1 ul li{
    float: left;
    color: white;
    font-size: 14.2px;
    padding: 5px 0 5px 30px;
    margin: 0 10px;
}
.container-2 .row-1 .amc-col-1 ul li.calendar{
    background: url(/assets/img/page2016/icon_time_white.png) 0 5px no-repeat transparent;
}
.container-2 .row-1 .amc-col-1 ul li.posi{
    background: url(/assets/img/page2016/icon_posi_exclusi_single.png) 0 5px no-repeat transparent;
}
.container-2 .row-1 .amc-col-1 ul li.tt{
    background: url(/assets/img/page2016/icon_tt_exclusi_single.png) 0 5px no-repeat transparent;
}
.container-2 .row-1 .amc-col-2 .map{
    overflow: hidden;
    text-align: center;
    margin: 30px 0 0 -45px;
    width: auto;
}
.container-2 .row-1 .amc-col-2 .map p{
    font-family: 'LatoLatin-Bold', sans-serif;
    font-size: 14.2px;
    color: #e1653f;
}
.container-2 .row-2 .amc-col{
    float: left;
}
.container-2 .row-2 .amc-col-1{
    width: 680px;
}
.container-2 .row-2 .amc-col-2{
    width: 220px;
    float: right;
}
.container-2 .detail {
    clear: left;
    padding-bottom: 0px;
}

.container-2 .detail-2{
    background: rgba(0, 0, 0, 0) url("/assets/img//page2016/bg_border.png") no-repeat scroll center bottom;
}
.container-2 .tab-pane .detail-2{
    background: none;
    padding-bottom: 10px;
}
.container-2 .detail .tt, .container-2 .detail h2{
    font-size: 18px;
    text-transform: inherit;
    font-family: 'LatoLatin-Bold', sans-serif;
    color: #000000;
/*    padding-left: 40px;
    background: transparent url("/assets/img//page2016/icon_tim.png") no-repeat scroll left center;
    line-height: 40px;*/
    margin: 28px 0 20px !important;
}
.container-2 .detail .text, .container-2 .area-video{
    padding: 0 30px;
}
.container-2 .detail .text{
    padding: 0 60px 0 0;
}
.container-2 .detail .text img{
    margin: 10px 0 10px;
}
.container-2 .detail .text h5{
    font-size: 18px;
    font-family: 'LatoLatin-Bold', sans-serif;
    margin-left: 20px;
}
.container-2 .detail .text ul{
    list-style-image: url(/assets/img/page2016/bg-list.png);
    padding-left: 20px;
    margin: 10px 0;
}
.container-2 .row-2 .area-video .text-video {
    background: transparent url("/assets/img//page2016/icon-video.png") no-repeat scroll 0 0;
    display: inline-block;
    line-height: 35px;
    margin: 10px 0;
    padding-left: 50px;
}
.container-2 .row-2 .area-video .text-video span {
    font-family: "LatoLatin-Bold",sans-serif;
    text-transform: uppercase;
}
.container-2 .row-2 .collection-image{
    float: left;
  //  border-bottom: 1px solid #cbc0a2;
}
.container-2 .row-2 .collection-image .col-left,.container-2 .row-2 .collection-image .col-right{
    float: left;
}
.container-2 .row-2 .collection-image .col-left{
     float: left;
    margin-right: 20px;
    width: 318px;
}
.container-2 .row-2 .collection-image .col-right{
     float: left;
    margin: 0 20px 0 10px;
    width: 335px;
}
.container-2 .row-2 .collection-image a{
    display: block;
    float: left;
    margin: 13.5px 0;
    position: relative;
}
.container-2 .row-2 .collection-image a .caption{
    position: absolute;
    left: 20px;
    bottom: -26px;
    font-size: 18px;
    font-family: inherit;
    color: white;
    opacity: 0;
/*     transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;*/
    -webkit-transition: all 500ms ease-out;
   -moz-transition: all 500ms ease-out;
   -o-transition: all 500ms ease-out;
   -ms-transition: all 500ms ease-out;
   transition: all 500ms ease-out;
}
.container-2 .row-2 .collection-image a:hover .caption{
    opacity: 1;
    bottom: 15px;
   //transition-duration: 0.5s;
   // transition-property: all;
   // transition-timing-function: ease-out;
    -webkit-transition: all 500ms ease-out;
   -moz-transition: all 500ms ease-out;
   -o-transition: all 500ms ease-out;
   -ms-transition: all 500ms ease-out;
   transition: all 500ms ease-out;
    
}
.container-2 .row-2 .collection-image .show-album{
    font-size: 13.2px;
    font-family: "LatoLatin-Bold",sans-serif;
    text-transform: uppercase;
    color: #e1653f;
    border: 1px solid #e1653f;
    padding: 0 30px 0 15px;
    float: right;
    margin-right: 49px;
    /*background: url(/assets/img/page2016/icon_arrow.png) 95% center no-repeat transparent;*/
    line-height: 36px;
    margin-bottom: 13px;
}
.container-2 .row-2 .collection-image .show-album:hover{
/*    color: white !important;
    border: 1px solid #da521f;
    background: url(/assets/img/page2016/arrow_next.png) 95% center no-repeat #da521f;*/
}
.container-2 .program ul.tt-btn{
    padding: 0;
    margin: 20px 0 30px;
    list-style: none;
    clear: left;
    float: left;
    width: 100%;
}
.container-2 .program ul.tt-btn li{
    float: left;
    width: 50%;
}
.container-2 .program ul.tt-btn li .tt{
      background: transparent url("/assets/img//page2016/icon_tt_program.png") no-repeat scroll 0 0;
    color: #e1653f;
    font-family: "LatoLatin-Bold",sans-serif;
    font-size: 18px;
    line-height: 40px;
    
    padding-left: 50px;
    text-transform: uppercase;
}
.container-2 .program ul.tt-btn li .download-pdf{
    font-size: 14.2px;
    font-family: 'LatoLatin-Italic', sans-serif;
    display: inline-block;
    padding-left: 30px;
    background: url(/assets/img/page2016/icon_pdf_download.png) 0 center no-repeat transparent;
    line-height: 52px;
    float: right;
    
}
.container-2 .program .tab-children{
    clear: left;
}
.container-2 .program .tab-children h3 {
    text-transform: uppercase;
    font-family: 'LatoLatin-Bold', sans-serif;
    font-size: 18px;
    cursor: pointer;
    
}

.container-2 .program .tab-children h3 .tt{
    display: inline-block;
    border-bottom: 1px solid #cbc0a2;
    padding: 5px 30px 5px 0;
    width: 85%;
    line-height: 22px;
    background: url(/assets/img/page2016/arrow_down_cam.png) 97% center no-repeat;
}
.container-2 .program .tab-children.active h3 .tt{
    background: url(/assets/img/page2016/arrow_up.png) 98% center no-repeat;
}
.container-2 .program .tab-children h3:hover .tt{
    color: #e1653f;
}
.container-2 .program .tab-children h3 .fix-jour{
    display: inline-block;
    
    background: #bcb090;
    padding: 5px;
    margin-right: 20px;
    font-size: 16.5px;
    width: 85px;
}
.container-2 .program .tab-children .entry-content{
    position: relative;
    padding-left: 105px;
    display: none;
}
.container-2 .program .tab-children .entry-content ul{
    position: absolute;
    left: 0;
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.container-2 .program .tab-children .entry-content ul li{
    text-align: center;
    background: #f7f5f2;
    padding: 30px 10px 5px;
    margin: 5px 0;
   font-size: 12px;
}
.container-2 .program .tab-children .entry-content ul li.hotel{
    background: url(/assets/img/page2016/icon_hotel.png) center 5px no-repeat #f7f5f2;
}
.container-2 .program .tab-children .entry-content ul li.kayaking{
    background: url(/assets/img/page2016/icon_kayaking.png) center 5px no-repeat #f7f5f2;
}
.container-2 .program .tab-children .entry-content ul li.en-avion{
    background: url(/assets/img/page2016/icon_air.png) center 5px no-repeat #f7f5f2;
}

.container-2 .program .tab-children.active .entry-content{
    display: block;
}
.container-2 .row-2 .related-articles{
    clear: left;
    float: left;
}
.container-2 .row-2 .related-articles .tt-title{
	font-size: 22px;
    font-family: "LatoLatin-Bold",sans-serif;
    text-transform: uppercase;
    margin: 30px 0 20px;
	 background: transparent url("/assets/img//page2016/bg-module-des.png") no-repeat scroll center center;
    clear: left;
    text-align: center;
    height: 84px;
    line-height: 84px;
    margin-bottom: 25px;
    padding: 0;
}
.container-2 .row-2 .related-articles .tt{
    font-size: 22px;
    font-family: "LatoLatin-Bold",sans-serif;
    text-transform: uppercase;
    margin: 30px 0 20px;
	text-transform: uppercase; 
   
}
.container-2 .row-2 .related-articles .tt span{
    color: #e75925;
}
.container-2 .row-2 .related-articles .item{
    float: left;
    width: 331px;
    margin: 20px 20px 20px 0;
}
.container-2 .row-2 .extensions slide .tt{
     font-size: 18px;
    font-family: inherit;
    border-bottom: 1px solid #cbc0a2;
    margin: 0;
    padding: 20px 0 10px;
}
.container-2 .row-2 .related-articles .item .tt{
    font-size: 18px;
    font-family: inherit;
    border-bottom: 1px solid #cbc0a2;
    margin: 0;
    padding: 20px 0 10px;
}
.container-2 .row-2 .related-articles .item .summary{
    margin: 10px 0;
    font-size: 14.2px;
}
.container-2 .row-2 .related-articles .item ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container-2 .row-2 .related-articles .item ul li{
    float: left;
    margin: 0 40px 0 0px;
    font-size: 13.2px;
    font-family: inherit;
    padding:3px 0 3px 30px; 
}
.img-responsive{
    width: 100%;
}

.container-2 .contact{
    float: left;
    clear: left;
    width: 100%;
    margin-top: 30px;
}
.container-2 .contact .area-col{
    float: left;
    height: 167px;
    padding: 0 20px;
}
.container-2 .contact .col-left{
    display: table;
   // margin-left: 142px;
}
.container-2 .contact .col-left .tt{
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
    font-family: 'Grand Hotel', sans-serif;
   
}

.container-2 .contact .col-right ul{
    list-style: none;
    margin: 0px 0 0;
    padding: 0;
}
.container-2 .contact .col-right ul li{
    height: 80px;
    padding-left: 85px;
   display: table;
   margin: 0px 0;
}
.container-2 .contact .col-right ul li:first-child{
    background: url(/assets/img/page2016/icon-note.png) left center no-repeat;
    background-size: 75px;
    margin-bottom: 10px;
}
.container-2 .contact .col-right ul li:last-child{
    background: url(/assets/img/page2016/icon-phone.png) left center no-repeat;
    background-size: 75px;
}
.container-2 .col-right ul li a{
    font-size: 18px;
    font-family: 'LatoLatin-Bold', sans-serif;
    display: table-cell;
   // padding-left: 20px;
    vertical-align: middle;
}
.container-2 .contact .col-right ul li a:hover{
    color: #e75925;
}
.container-2 .row-2 .amc-col-2 .btn-item{
    display: block;
    border-radius: 5px;
    
    color: white;
    font-size: 13.5px;
    padding: 10px;
    margin: 10px 20px;
}
.container-2 .row-2 .amc-col-2 .btn-item:hover{
    opacity: 0.7;
}
.container-2 .row-2 .amc-col-2 .btn-item.infos-pratiques{
    background: url(/assets/img/page2016/arrow_next.png) 90% center no-repeat #3e3e3e;
}
.container-2 .row-2 .amc-col-2 .btn-item.down-pdf{
    background: url(/assets/img/page2016/icon_download.png) 90% center no-repeat #3e3e3e;
}
.container-2 .row-2 .amc-col-2 .area-1{
    background: #cbc0a2;
    padding: 0 15px;
    text-align: center;
    float: left;
}
.container-2 .row-2 .amc-col-2 .area-1 .tt{
    font-size: 25px;
    font-family: 'Grand Hotel', sans-serif;
    margin: 20px 0;
    clear: left;
}
.container-2 .row-2 .amc-col-2 .area-1 .tt-1{
    color: #e1653f;
}
.container-2 .row-2 .amc-col-2 .area-1 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container-2 .row-2 .amc-col-2 .area-1 ul li{
    float: left;
    font-size: 13.5px;
    
    width: 50%;
}

.container-2 .row-2 .amc-col-2 .area-1 .btn-contact{
    font-size: 15.5px;
    font-family: 'LatoLatin-Bold', sans-serif;
    text-transform: uppercase;
    background: #da521f;
    float: left;
    display: block;
    clear: left;
    color: white;
    padding: 15px;
    margin: 20px 0;
}
.container-2 .row-2 .amc-col-2 .area-1 .btn-contact span{
    font-family: 'LatoLatin-Regular', sans-serif;
    font-size: 14.2px;
    text-transform: lowercase;
    color: #cecece;
    display: block;
}
.container-2 .row-2 .amc-col-2 .area-1 .btn-contact:hover{
    opacity: 0.8;
    color: white !important;
}
.container-2 .row-2 .amc-col-2 .area-1 .btn-votre-project span{
    display: inline-block;
     height: 20px;
    margin: 0 5px;
    text-indent: -9999px;
    width: 25px;
    background: url(/assets/img/page2016/icon_votre_project.png) 0 0 no-repeat transparent;
}

.container-2 .row-2 .amc-col-2 .area-1 .btn-votre-project.active span{
    background-position: 0 bottom;
}
.container-2 .row-2 .amc-col-2 .area-1 .btn-votre-project{
    display: block;
    font-size: 14.2px;
    font-family: 'LatoLatin-Regular', sans-serif;
    border: 1px solid #8f8876;
    border-radius: 5px;
    padding: 10px;
    float: left;
    clear: left;
    margin: 10px 0 30px;
}
.container-2 .row-2 .amc-col-2 .area-1 .btn-votre-project:hover{
    opacity: 0.8;
}
.container-2 .row-2 .amc-col-2 .area-1 .btn-votre-project.active{
    color: #968965;
}
.slider-right .slide > div{
    padding: 0 13px !important;
}
.slider-right .slide .title{
   font-family: 'LatoLatin-Bold', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 20px 5px 6px 7px;
    text-transform: inherit;
    
}
.slider-right .slide .summary{
    padding: 10px 0;
    border-top: 1px solid #cbc0a2;
    float: left;
    wdith: 100%;
}
.slider-right .slide .sub-title{
    font-size: 14.5px;
    font-family: LatoLatin-Regular,sans-serif;
    text-align: left;
    padding: 0 5px 0 7px;
}
.slider-right .slide ul{
     list-style: outside none none;
    margin: 0 0 8px 0;
    padding: 0;
    float: left;
    display: block;
    width: 100%;
    
}
.slider-right .slide ul li {
    float: left;
    font-size: 12.5px;
    margin: 3px 0;
    padding: 12px 0 0 24px;
    
}
.slider-right .slide .time {
      background: transparent url("/assets/img//page2016/icon_time.png") no-repeat scroll 7px 20px;
    line-height: 14px;
    margin-right: 0px;
    padding-left: 32px;
    padding-top: 17px;
    width: 38%;
}
.slider-right .slide .tour-name {
    display: flex;
    align-items: center;
    float: left;
    height: 28px;
    line-height: 14px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 21px;
    padding: 0;
    position: relative;
    width: 57%;
}
.slider-right .slide .tour-name .icon{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 85% auto;
    display: inline-block;
    float: left;
    height: 28px;
    margin-right: 5px;
    width: 27px;
}
.slider-right .slide .tour-name .text-name{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.slider-right .slide .posi {
    background: transparent url("/assets/img//page2016/posi.png") no-repeat scroll 0 bottom;
}
.extensions {
    margin: 0;
}
.extensions .area-2 > .tt{
   
    font-family: "LatoLatin-Bold",sans-serif;
    font-size: 24px;
    margin: 0 20px 0 0;
    padding: 0px 0 15px;
    text-transform: inherit;
    width: 100%;
}
.extensions .area-2 > .tt > span{
    color: #000000;
    font-family: "LatoLatin-Bold",sans-serif;
}
.container-2 .row-2 .amc-col-2 .area-1 .slide .title{
    font-size: 14.2px;
    text-transform: capitalize;
    text-align: center;
    margin: 10px 0;
}
.container-2 .row-2 .amc-col-2 .area-2{
    float: left;
    clear: left;
    border: 1px solid #999999;
    padding: 20px;
    margin: 5px 0 30px;
    width: 100%;
    position: relative;
}
.bx-controls-slider-right{
     position: absolute;
    top: 140px;
    width: 189px;
    z-index: 1;
}
.bx-controls-slider-right a{
    height: 30px;
    text-indent: -9999px;
    width: 30px;

}
.bx-controls-slider-right a:hover{
    opacity: 0.7;
}
.bx-controls-slider-right a.bx-prev{
    margin-left: 10px;
    float: left;
    background: #bbb7a5 url("/assets/img//page2016/arrow_prev.png") no-repeat scroll center center;
}
.bx-controls-slider-right a.bx-next{
    float: right;
    margin-right: 8px;
    background: #bbb7a5 url("/assets/img//page2016/arrow_next_1.png") no-repeat scroll center center;
}
.container-2 .row-2 .amc-col-2 .area-2 .tt{
    font-size: 14.5px;
    text-transform: uppercase;
    font-family: inherit;
    text-align: center;    
}
.container-2 .row-2 .amc-col-2 .area-2 ul{
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
}
.container-2 .row-2 .amc-col-2 .area-2 ul li{
    font-size: 13px;
}
.bx-wrapper{
    margin: 0;
}
.container-2 .row-2 .amc-col-2 .area-2 ul .t{
    font-size: 14px;
    font-family: 'LatoLatin-Bold', sans-serif;
    text-transform: uppercase;
    color: #e1653f;
}

.container-2 .row-2 .related-articles{
    clear: left;
    float: left;
}
.container-2 .row-2 .related-articles .tt{
    font-size: 22px;
    font-family: "LatoLatin-Bold",sans-serif;
    text-transform: uppercase;
    margin: 30px 0 20px;
}
.container-2 .row-2 .related-articles .item{
    float: left;
    width: 331px;
    margin: 20px 20px 20px 0;
}
.container-2 .row-2 .related-articles .item .tt{
    font-size: 18px;
    font-family: inherit;
    border-bottom: 1px solid #cbc0a2;
    margin: 0;
    padding: 20px 0 10px;
}
.container-2 .row-2 .related-articles .item .summary{
    margin: 10px 0;
    font-size: 14.2px;
}
.container-2 .row-2 .related-articles .item ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container-2 .row-2 .related-articles .item ul li{
    float: left;
    margin: 0 40px 0 0px;
    font-size: 13.2px;
    font-family: inherit;
    padding:12px 0 0 28px;
}
.container-2 .row-2 .related-articles .item ul li.time{
    background: transparent url("/assets/img//page2016/icon_time.png") no-repeat scroll 0 10px;
    margin-right: 20px;
}
.container-2 .row-2 .related-articles .item ul li.posi{
      background: transparent url("/assets/img//page2016/icon_destination.png") no-repeat scroll 0 0;
}


/* CSS POPUP*/
 #backgroundPopup {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}

#toPopup {
    
    background: none repeat scroll 0 0 #f0f0f0;
   // border: 10px solid #ccc;
   // border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    
   // left: 25%;
    //margin-left: -410px;
    position: fixed;
    top: 50px;
    width: 1000px;
    z-index: 9999;
    margin: 0 auto;
    left: 0;
    right: 0;
    //overflow-y: auto;
   // overflow-x: hidden;
    height: 90%;
}
#popup_content .popup{
    display: none;
}
div.loader {
    background: url("/assets/img//loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 50%;
    left: 50%;
    position: fixed;
    margin-left: -10px;
}
div.close {
    background: url("/assets/img//page2016/icon_cancel.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -27px;
    top: -24px;
    width: 30px;
    opacity: 1;
}
div.close:hover {
    opacity: 1;
}
span.ecs_tooltip {
       background: #000000 none repeat scroll 0 0;
    border-radius: 2px;
    color: #ffffff;
    display: none;
    font-size: 11px;
    height: 23px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -72px;
    text-align: center;
    top: -53px;
    width: 110px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
   // margin: 4px 7px;
    /* remove this comment if you want scroll bar */
    font-family: 'LatoLatin-Regular', sans-serif;
    font-size: 15.5px;
    overflow-y:auto;
    height:100%;
    overflow-x: hidden;
    
}
/*END POPUP*/

.bx-has-controls-direction{
    left: 0;
    bottom: 0;
}
.bx-wrapper .bx-controls-direction a{
    width: 30px;
    height: 30px;
    z-index: 2;
    top: -185px;
}
.bx-wrapper .bx-prev{
    position: absolute;
    left: 10px;
    top: -145px;
    background: url(/assets/img/page2016/arrow_prev.png) center center no-repeat #bbb7a5;
}
.bx-wrapper .bx-next{
    position: absolute;
    right: 10px;
    top: -145px;
    background: url(/assets/img/page2016/arrow_next_1.png) center center no-repeat #bbb7a5;
}
.bx-wrapper .bx-pager.bx-default-pager a{
    background: #a39878;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #e35429;
}
.bx-wrapper .bx-pager{
    display: none;
}
.extensions .bx-has-controls-direction{
    position: unset;
}
.extensions .bx-wrapper .bx-controls-direction a{
    background-image: url("/assets/img//pre-next-home-button.png");
    background-repeat: no-repeat;
    height: 48px;
    top: 95px;
    width: 26px;
    background-color: white;
}
.extensions .bx-wrapper .bx-controls-direction a:hover{
    background-image: url("/assets/img//pre-next-home-button-hover.png");
}
.extensions .bx-wrapper .bx-prev{
       background-position: left top;
    left: -50px;
}
.extensions .bx-wrapper .bx-next{
       background-position: -27px top;
    right: -51px;
}

.contain .extensions .bx-wrapper .bx-viewport{
    height: auto !important;
}

/* CSS content popup */
.popup .entry {
    padding: 0 50px;
}
.popup .title{
    clear: left;
    float: left;
    width: 100%;
    margin: 20px 0 10px;
}
.popup .tt{
    font-size: 22px;
    font-family: 'LatoLatin-Bold', sans-serif;
    text-transform: uppercase;
    color: #e75925;
    width: 500px;
    float: left;
    margin: 0;
}
.popup .title a{
    display: inline-block;
    float: right;
    padding: 0px 30px;
     font-size: 13.5px;
    font-family: 'LatoLatin-Bold', sans-serif;
    text-transform: uppercase;
    color: white;
    background: #da521f;
    line-height: 38px;
}
.popup .title a:hover{
    opacity: 0.7;
}
.popup .title a.active{
    background-color: #ccc;
}
.popup .list{
    list-style: none;
    margin: 10px 0;
    padding: 0;
    clear: left;
    float: left;
    width: 100%;
}
.popup .list li{
    float: left;
    margin-right: 30px;
    padding: 5px 0 5px 30px;
    font-size: 14.2px;
}
.popup .list li.posi{
    background: url(/assets/img/page2016/icon_posi_black.png) 0 0 no-repeat;
}

.popup .list li.plus{
    background: url(/assets/img/page2016/icon_black.png) 0 0 no-repeat;
}
.popup .summary{
    clear: left;
    padding: 10px 0;
    font-size: 14.2px;
    background: url(/assets/img/page2016/bg_border.png) 0 bottom no-repeat;
}
.popup .program {
    padding: 10px 0;
    margin-bottom: 30px;
}
.popup .program .t{
    font-size: 18px;
    font-family: 'LatoLatin-Bold', sans-serif;
    text-transform: uppercase;
    color: #e75925;
}
.popup .program ul{
    list-style: none;
    list-style-image: url(/assets/img/page2016/bg-list.png);
}

.popup .program .area-video{
    margin-top: 30px;
}

.popup .program .text-video{
    padding: 10px 0 10px 40px;
    background: url(/assets/img/page2016/icon-video.png) 0 0 no-repeat;
    margin: 10px 0;
}
.popup .program .text-video span{
    text-transform: uppercase;
    font-family: 'Lato-Regular', sans-serif;
}
.popup-infos {
    position: relative;
}
.popup-infos .tab-content{
    clear: left;
    float: left;
    padding: 0 50px;
    position: relative;
    width: 100%;
    margin-top: 50px;
}
.popup-infos .tab-content .tab-panel-5 h4{
    font-size: 16.5px;
    text-transform: uppercase;
    margin: 10px 0;
    //padding: 10px 0;
    border-bottom: 1px solid #cbc0a2;
    background: url(/assets/img/page2016/arrow_down_cam.png) right center no-repeat;
    clear: left;
    cursor: pointer;
}
.popup-infos .tab-content .tab-panel-5 h4 span{
    display: inline-block;
    padding: 0 10px;
    line-height: 37px;
    background: #bcb090;
}
.popup-infos .tab-content .tab-panel-5 .tab-children .entry-content{
    display: none;
}
.popup-infos .tab-content .tab-panel-5 .tab-children.active .entry-content{
    display: block;
    margin: 10px 0 40px;
}
.popup-infos .tab-content .tab-panel-5 .tab-children.active h4{
    background: url(/assets/img/page2016/arrow_up.png) right center no-repeat;
}
.popup-infos .btn-tabs{
    height: 455px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.popup-infos .btn-tabs .img-tabs{
    display: none;
}
.popup-infos .btn-tabs .img-tabs.active{
    display: block;
}
.popup-infos .nav-tabs > li:nth-of-type(1){
    margin-left: 114px;
}
.popup-infos .nav-tabs > li:nth-of-type(2){
    margin-left: 65px;
}
.popup-infos .nav-tabs > li:nth-of-type(3){
    margin-left: 40px;
}
.popup-infos .nav-tabs > li:nth-of-type(4){
    margin-left: 55px;
}
.popup-infos .nav-tabs > li:nth-of-type(5){
    margin-left: 40px;
}
.popup-infos .nav-tabs > li > a{
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    border: 0px;
    border-radius: 0px;
}
.popup-infos .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
    border: 0px;
    background: transparent;
     color: #e75925;
}
.popup-infos .nav > li > a:focus, .nav > li > a:hover{
    background: none;
    color: #e75925;
}

.popup-infos .nav-tabs{
    float: left;
    clear: left;
    width: 100%;
    margin-top: 150px;
    border: 0px;
}

/*Pagination*/
.pagination {
    float: right;
}
.pagination > li:first-child > a, .pagination > li:first-child > span{
    border: none;
}
.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: medium none;
    color: #888888;
    font: 18px LatoLatin-Bold,sans-serif;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background: none;
    border: none;
    color: #e1653f;
    font-size: 22px;
}
.pagination-prog .pagination > li.disabled{
    display: none;
}
.hr{
    width: 100%;
    text-align: center;
    height: 2px;
    display: inline-block;
}
hr{
     border-top: 1px solid #cbc0a2;
    height: 1px;
    margin: 0 auto;
    width: 100px;
}

/* End CSS content popup */

.area-form{
    display: none;
}

.img-banner{
    width: 100%;
}
.text h4 {
    background: transparent url(/assets/img/page2016/icon-video.png) no-repeat scroll left top;
    padding: 10px 40px;
}
.amc-col-2 .area-3 a.fancybox{
/*    position: relative;
    display: inline-block;*/
}

.search-ico{
    position: absolute;
    top: 221px;
    left: 58px;
}
/* CSS 29/09/17 */
.container-back{
    padding-right: 50px;
}
.fix-border{
    padding-right: 50px;
}

.fix-border .border{
     border-bottom: 1px solid #c6b995;
    display: block;
    height: 1px;
    margin: -1px auto;
    width: 100px;
}
.space{
    display: block;
    
    width: 100%;
    clear: both;
    border: none;
    margin: 0;
    padding: 0;
}
.space-65{
    height: 65px;
    
}
.space-60{
    height: 60px;
}
.space-40{
    height: 40px;
}
.space-50{
    height: 50px;
}
.space-55{
    height: 55px;
    
}
.space-25{
    height: 25px;
}
.space-12{
    height: 12px;
}
.fix-space-33{
    height: 33px;
}
.fix-space-27{
    height: 27px;
}
.fix-space-31{
    height: 31px;
}
.fix-space-30{
    height: 30px;
}
.space-41{
    height: 41px;
}
.space-36{
    height: 36px;
}
.space-38{
    height: 38px;
}
.space-27{
    height: 27px;
}
.space-22{
    height: 22px;
}
.tt{
    margin: 0;
    padding: 0;
    
}
.tt-latolatin-bold{
    font-family: 'LatoLatin-Bold', sans-serif;
}
.tt-latolatin-regular{
    font-family: 'LatoLatin-Regular', sans-serif;
}
.tt-24{
    font-size: 24px;
    
}
.tt-18{
    font-size: 18px;
    
}
.tt-16{
    font-size: 16px;
    
}
.tt-40{
    font-size: 40px;
}

.tt-uppercase{
    text-transform: uppercase;
}
.tt-color-white{
    color: white; 
}
.fix-align-center{
    text-align: center;
}

.menu-tab .amc-column{
	background: url('/assets/img//new-pays/bg-menu-tab.png') center -1px no-repeat transparent;
	height: 105px;
	padding-top: 19px;
        background-size: 940px auto;
        text-align: center;
}
.menu-tab .amc-column ul{
	margin: 0 auto;
	padding: 0;
    display: inline-block;
        
}
.menu-tab .amc-column ul li{
	list-style: none;
	padding: 11px 17px 11px 16px;
	position: relative;
	display: inline-block;
	border-right: 1px solid #a59a7f;
	box-sizing: border-box;
        float: left;
}
.menu-tab .amc-column ul li:last-of-type{
	border: none;
}
.menu-tab .amc-column ul li a{
	font: 15.5px LatoLatin-Regular,sans-serif;
	color: #292929;
}
.menu-tab .amc-column ul li:hover a, .menu-tab .amc-column ul li.active a{
	color: #e65925;
}
.menu-tab .amc-column ul li:hover:after, .menu-tab .amc-column ul li.active:after{
	content: "";
	width: 75%;
	height: 3px;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: #e65925;
}
.fix-area{
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.container-2 .row-2 .amc-col-2 .area-1.fix-area .btn-contact{
    display: block;
    float: left;
    font-size: 16.5px;
    height: 47px;
    line-height: 47px;
    margin: 12px 0 0 -15px;
    padding: 0;
    width: 116%;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
     background: #da521f none repeat scroll 0 0;
    clear: left;
    color: white;
    text-transform: uppercase;
    font-family: 'LatoLatin-Bold', sans-serif;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.container-2 .row-2 .amc-col-2 .area-1 .tt{
      clear: left;
    font-family: "Grand Hotel",sans-serif;
    font-size: 25px;
    line-height: 23px;
    margin: 20px 25px;
}
.container-2 .row-2 .amc-col-2 .area-1 ul li{
     float: left;
    font-size: 13.5px;
    width: 50%;
}
.container-2 .row-2 .amc-col-2 .area-1 ul li:last-child{
    line-height: 16px;
    padding: 17px 0 0 10px;
}

.container-1 .row-2 .list-envies{
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding: 0;
    text-align: center;
}
.container-1 .row-2 .list-envies li{
    background: #e1dfdd none repeat scroll 0 0;
    border-radius: 10px;
    color: #323232;
    display: inline-table;
    
    font-size: 13.5px;
    list-style: outside none none;
    margin: 0 2px 2px;
    padding: 3px 10px;
    position: relative;
}
.container-1 .row-2 .list-envies li span{
    display: table-cell;
    vertical-align: middle;
}

.container-1 .row-2 .list-envies li img{
    margin: -2px 5px 0px 0;
    
}
.container-1 .row-2 .tt-custom{
    margin-bottom: 3px;
    text-shadow: 1px 1px 2px #000;
}
.container-2 .row-2{
    margin: 0;
}
.container-2 .detail .text p{
    
}
.container-2 .row-2 .amc-col-2 .area-1{
    margin-top: 14px;
}
.container-2 .row-2 .amc-col-2 .area-1 .tt{
    margin: 14px 0 14px 9px;
}
.slider-right .slide{
    float: left;
    margin: 0px 0px 0px 0px;
    width: 211px;
    background: #eaeaea;
}
.slider-right .slide.slide-2{
    margin: 0 23px;
}


.content-blogs .item{
    float: left;
    width: 211px;
    
}

.content-blogs .item-2{
    margin: 0 23px;
}
.content-blogs .item .image{
    position: relative;
}
.content-blogs .item .image .tt-name{
   background: #ebe8de none repeat scroll 0 0;
    bottom: 0;
    display: block;
    font-family: inherit;
    font-size: 13.5px;
    padding: 3px 5px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 76px;
}
.content-blogs .item .tt{
    font-family: inherit;
    font-size: 18px;
    text-align: left;
    margin: 25px 0 0;
    line-height: 1.2;
    
}
.content-blogs .item .image:hover > img{
    opacity: 0.8;
}
.content-blogs .amc-blog{
    position: relative;
    width: 100%;
}
.content-blogs .amc-blog::after{
    content: "";
    top: 24px;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-bottom: 1px solid #d9cfb5;
}
.content-blogs .title-blog {
     float: left;
    font-size: 24px;
    font-family: LatoLatin-Bold,sans-serif;
    margin-bottom: 33px;
    margin-top: 0px;
    position: relative;
    text-align: left;
    
    padding-right: 15px;
    background: #fff;
}

a.link-to-blog {
    color: #e65925;
    display: inline-block;
    float: right;
    font-size: 13.5px;
    font-family: LatoLatin-Bold,sans-serif;
    margin-right: 48px;
    margin-top: 37px;
}
.area-random-destionation{
    background: #eaeaea;
    margin-top: 40px;
    text-align: center;
    float: left;
}
.area-random-destionation .tt-rand-des{
     color: #000000;
    font-family: "Grand Hotel",sans-serif;
    font-size: 25px;
    line-height: 26px;
    margin-bottom: 22px;
    margin-right: 5px;
    margin-top: 18px;
}
.area-random-destionation .item {
    padding: 0 15px;
}
.area-random-destionation .item .tt-custom{
    margin-top: 7px;
}
.area-random-destionation .item .tt-sub{
    font-size: 14.2px;
    
    margin-bottom: 38px;
    
}
.extensions{
    float: left;
}
/* End Css */


.leaflet-control-attribution a{ display: none;  } 

.leaflet-pane > svg #fix:hover{
    transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: all 0s ease-in 0s;
  -webkit-transition: all 0s ease-in 0s;
}
.leaflet-popup-content-wrapper{
    box-shadow: none;
    border-radius: 5px;
}
.leaflet-popup-content{
    margin: 2px 20px;
}
.leaflet-container a{
    color: #000;
}
.leaflet-container a:hover{
    color: #e65925;
}
.area-map-leaflet{
    height: 280px;
}
#map{
    width: 100%;
    height: 100%;
    display: flex;
}

@media (max-width: 763px){
    .amc-column{
/*        width: 100% !important;
        padding: 0 10px !important;*/
    }
    .amc-column .amc-col{
/*        width: 100% !important;
        margin: 10px 0 !important;*/
    }
    
    .amc-column .rows{
        width: 100%;
    }
    .container-1{
        margin-top: 80px;
    }
    .container-1.fix-top{
        margin-top: 50px;
    }
    .container-1 .row-1{
        top:0;
    }
    .container-1 .breadcrumb{
        width: 100%;
        height: auto;
    }
    .container-1 .amc-column .title{
        font-size: 20px;
    }
    .container-2 .amc-column{
        padding: 0 10px;
    }
    .img-responsive{
        max-width: 329px;
        width: 100%;
        margin: 0 auto;
    }
    .container-2 .row-1{
        margin: 10px 0;
    }
    .container-2 .row-1 .amc-col-1 ul{
        margin: 10px 0;
    }
    .container-2 .row-1 .amc-col-1 ul li{
        float: none;
    }
    .container-2 .row-1 .amc-col-1 .text{
        margin: 10px 0;
    }
    .container-2 .row-1 .amc-col-2 .map{
        margin: 0;
    }
    .container-2 .detail .text, .container-2 .area-video{
        padding: 0;
    }
    .container-2 .detail .tt{
        margin: 0;
        line-height: 22px;
        padding: 5px 0 15px 50px;
    }
   
    .container-2 .row-2 .collection-image .col-left, .container-2 .row-2 .collection-image .col-right{
/*        width: 100%;*/
        margin: 0;
    }
    .container-2 .row-2 .collection-image a{
        margin: 10px 0;
    }
    .container-2 .program ul.tt-btn li{
        float: none;
        width: 100%;
    }
    .container-2 .program ul.tt-btn li .tt{
        line-height: 22px;
        padding: 5px 0 15px 50px;
        margin: 0;
    }
    .container-2 .program ul.tt-btn li .download-pdf{
        float: none;
    }
    .tab-children .entry-content img{
        width: 100%;
    }
    .container-2 .contact{
        padding-top: 30px;
    }
    .container-2 .contact .area-col{
        height: auto;
        padding: 0;
    }
    .container-2 .contact .col-right ul{
        margin-top: 20px; 
    }
    .container-2 .contact .col-left{
        width: 100%;
        text-align: center;
    }
    .container-2 .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
        display: block;
    }
    .container-2 .row-2 .amc-col-2 .area-1{
        padding: 0 10px;
    }
    .container-2 .row-1 .amc-col-1 .text-2{
        margin: 10px 0;
    }
    .tabs-special{
        width: 100% !important;
    }
    .container-2 .row-1 .amc-col-1 .area-tab ul li{
        float: none;
    }
    #toPopup{
        width: 95%;
    }
    .popup-infos .btn-tabs{
        display: none;
    }
    .popup-infos .nav-tabs > li{
        float: none;
        margin: 5px 0;
    }
    .popup-infos .nav-tabs > li:nth-of-type(1){
        margin: 0;
    }
    .popup-infos .nav-tabs > li:nth-of-type(2){
        margin: 0;
    }
    .popup-infos .nav-tabs > li:nth-of-type(3){
        margin: 0;
    }
    .popup-infos .nav-tabs > li:nth-of-type(4){
        margin: 0;
    }
    .popup-infos .nav-tabs > li:nth-of-type(5){
        margin: 0;
    }
    .popup .entry{
        padding: 0 10px;
    }
    video{
        width: 100% !important;
    }
    .popup > img.img-lazy{
        width: 100%;
    }
    .container-2 .row-2 .amc-col-1{
        margin: 0 auto;
        float: none;
    }
}































