/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 15, 2016, 12:58:08 PM
    Author     : dtnguyen
*/
.item a:hover{
    color: inherit;
}
.text-sologan{
    background: rgba(0,0,0, 0.6);
    position: relative;
    z-index: 1;
}
.area-btn-list-menu{
    background: rgba(255,255,255, 0.8);
    z-index: 1;
}
.contain{
    float: left;
    clear: left;
    width: 100%;
    height: auto;
    font-size: 15.5px;
    font-family: 'LatoLatin-Regular', sans-serif;
}
.contain .amc-column{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    
}
.container-1 .row-1{
     background: rgba(0,0,0, 0.5);
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 150px;
}
.container-1 .breadcrumb{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    height: 23px;
    background: none;
}
.container-1 .breadcrumb a, .container-1 .breadcrumb span{
    font-size: 13px;
    color: white;
    font-family: inherit;
}
.container-1 .breadcrumb a:hover{
    text-decoration: underline;
}
.container-1{
    margin-top: -150px;
    position: relative;
    z-index: 0;
}
.container-1 .row-2{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
	margin: 0;
	padding: 0;
}
.container-1 .amc-column .title{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 37px;
    font-family: 'LatoLatin-Bold', sans-serif;
}
.container-1 .amc-column .title span{
    font-family: 'LatoLatin-Bold', sans-serif;
}

.container-2 .row-1{
    width: 850px;
    margin: 0 auto;
   // text-align: center;
    margin-top: 50px;
}
.container-2 .row-1 .text-cont{
    padding: 0 80px;
}
.container-2 .row-1 .two-col{
    margin: 20px 0 40px;
    float: left;
}
.container-2 .row-1 .two-col .amc-col{
    float: left;
    margin: 0 10px;
}
.container-2 .row-1 .two-col .amc-col-1{
    width: 240px;
    padding-top: 110px;
}
.container-2 .row-1 .two-col .amc-col-1 img{
    border-radius: 100%;
}
.container-2 .row-1 .two-col .amc-col-1 .posi,
.container-2 .row-1 .two-col .amc-col-1 h4{
    margin: 20px 0 0 0;
    font-size: inherit;
}
.container-2 .row-1 .two-col .amc-col-1 .name,
.container-2 .row-1 .two-col .amc-col-1 h3{
    margin: 0;
    font-family: 'LatoLatin-Bold', sans-serif;
    font-size: inherit;
}
.container-2 .row-1 .two-col .amc-col-2{
    width: 570px;
    position: relative;
    z-index: 99;
     padding-top: 33px;
}
.container-2 .row-1 .two-col .amc-col-2 .title-tt,
.container-2 .row-1 .two-col .amc-col-2 h3{
    font-size: 22px;
    margin: 10px 0 15px;
    text-transform: uppercase;
    padding: 50px 0 0 0;
}

.container-2 .row-1 .two-col .amc-col-2:before{
    background: transparent url("/assets/img//ngoac-open.png") no-repeat scroll left top;
    top: -10px;
    content: "";
    display: inline-block;
    height: 69px;
    position: absolute;
    left: -53px;
    width: 79px;
    z-index: -1;
}
.container-2 .row-1 .two-col .amc-col-2:after{
    background: transparent url("/assets/img//ngoac-close.png") no-repeat scroll left top;
    bottom: -12px;
    content: "";
    display: inline-block;
    height: 69px;
    position: absolute;
    right: -31px;
    width: 79px;
    z-index: -1;
}
.container-3{
   // height: 465px;
    background: #f7f7f7;
}
.container-3.loaded{
    background: url(../../../upload/image/bg-qui-sommes-nous-1.jpg) center bottom no-repeat transparent;
    background-size: cover;
}
.container-4 .rows{
    clear: left;
}
.container-4 .row-1{
    width: 600px;
    margin: 0px auto;
    text-align: center;
    padding: 20px 0;
}
.container-4 .rows .title-tt{
    font-size: 22px;
    text-transform: uppercase;
    margin: 40px 0 20px;
}
.container-4 .row-2,
.container-4 .row-3{
      background: transparent url("/assets/img//page2016/bg_border.png") no-repeat scroll center bottom;
    float: left;
    padding: 20px 0 60px;
}
.container-4 .row-2 .amc-col{
    float: left;
    width: 230px;
    margin: 0px 5px;
}
.container-4 .row-2 .amc-col td{
    padding: 0 5px;
}
.container-4 .row-2 .amc-col .des{
    font-size: 18px;
    font-family: 'LatoLatin-Bold', sans-serif;
}
.container-4 .row-2 .amc-col strong{
    display: inline-block;
    margin: 10px 0;
}


.container-4 .row-3{
    text-align: center;
    padding: 20px 0;
    float: left;
    
}
.container-4 .row-3 .amc-col{
    width: 450px;
    margin: 10px;
    float: left;
}

.container-4 .row-3 table{
    margin: 0 auto;
}
.container-4 .row-3 table:last-child td{
    padding: 5px 5px 5px 15px;
    text-align: left !important;
}
.container-4 .row-3 .amc-col-2 table.amc-col-2 {
    margin-bottom: 60px;
}
.container-4 .row-3 table.amc-col-1 img,
.container-4 .row-3 table.amc-col-2 img{
    border-radius: 100%;
}
.container-4 .row-3 .amc-col .name,
.container-4 .row-3 .amc-col h3{
    font-size: 18px;
    font-family: 'LatoLatin-Bold', sans-serif;
    margin: 20px 0;
}
.container-4 .row-3 .amc-col ul{
    list-style: none;
    width: 300px;
    margin: 20px auto 0;
    text-align: left;
    padding: 0;
    
}
.container-4 .row-3 .amc-col ul li{
    padding: 10px 0 10px 60px;
    
}
.container-4 .row-3 .amc-col ul li.address{
    background: url(/assets/img/page2016/icon-address.png) 10px center no-repeat transparent;
}
.container-4 .row-3 .amc-col ul li.phone{
    background: url(/assets/img/page2016/icon-phon.png) 10px center no-repeat transparent;
}
.container-4 .row-3 .amc-col ul li.mail{
    background: url(/assets/img/page2016/icon-mail.png) 10px center no-repeat transparent;
}
.container-4 .row-3 .amc-col ul li.skype{
    background: url(/assets/img/page2016/icon-skype.png) 10px center no-repeat transparent;
}
.container-4 .row-4{
    text-align: center;
    padding: 20px 0;
    float: left;
}
.container-4 .row-4 .amc-col{
    width: 182px;
    margin: 0 5px;
    float: left;
}
.container-4 .row-4 .rr{
    padding: 15px 0;
    clear: left;
    float: left;
}
.container-4 .row-4 .amc-col img{
    border-radius: 100%;
}
.container-4 .row-4 .amc-col .tt-1{
    font-size: 14.5px;
    margin: 10px 0 0;
}
.container-4 .row-4 .amc-col .tt-2{
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
}
.hr hr{
    margin: 20px 0 60px 0;
    border: none;
    height: 1px;
    background: transparent url("/assets/img//page2016/bg_border.png") no-repeat scroll center bottom;
}
.container-4 .row-slide{
    float: left;
    width: 100%;
    margin: 0 0 0px 0;
}
.container-4 .row-slide .amc-col{
    float: left;
}
.container-4 .row-slide .amc-col h2{
    font-size: 18px;
    font-family: 'Lato-Bold', sans-serif;
}
.container-4 .row-slide .amc-col-1{
    position: relative;
    width: 568px;
    height: 346px;
    margin: 0 40px 0 0px;
}
.container-4 .row-slide .amc-col-2{
    width: 300px;
}
.container-4 .row-slide .amc-col-2 p:first-of-type strong{
    font-family: 'LatoLatin-Bold', sans-serif;
    font-size: 18px;
}
.container-4 .row-slide .amc-col-2 h3{
    font-size: 22px;
    font-family: inherit;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.container-4 .row-slide .amc-col-2 p > span{
    color: #e1653f;
}
.container-4 .row-slide .carousel-control.left{
    background: transparent url("/assets/img//page2016/prev.png") no-repeat scroll center center;
}
.container-4 .row-slide .carousel-control.right{
    background: transparent url("/assets/img//page2016/next.png") no-repeat scroll center center;
}
.carousel .carousel-caption{
    bottom: 0;
    left: 0;
    padding: 20px;
    
    right: 0;
    text-align: left;
}
.carousel .carousel-caption p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'LatoLatin-Regular', sans-serif;
    text-shadow: 2px 2px 2px #000;
    
}
.container-5 {
    height: auto;
    margin: 35px 0 0 0;
    text-align: left;

}

.container-5.loaded{
    background-size: cover;
}
.container-5.loaded.has-background{
    background: url(/assets/img/page2016/bg_img_qui_sommes_nous_5.jpg) center center no-repeat;
}
.container-5 .row-1{
    float: left;
    width: 100%;
    background: #ececec;
    padding: 20px 0;
    text-align: center;
}
.container-5 .tt{
     display: inline-block;
    line-height: 25px;
    font-family: "Grand Hotel",sans-serif;
    font-size: 30px;
    margin: 0 70px 0 0px;
    text-align: center;
}
.container-5 .link-btn{
     border: 1px solid #e75925;
    color: #e75925;
    
    font-family: "LatoLatin-Bold",sans-serif;
    font-size: 14.2px;
    margin: 0 0px;
    padding: 5px 20px;
    text-transform: uppercase;
    display: inline-block;
}
.container-5 .link-btn:hover{
    background: #da521f;
    color: white;
    border-color: #da521f;
}
.container-9 {
        height: auto;
    margin: 12px 0 0px;
    text-align: center;


}


.container-9 .tt{
        clear: left;
    font-family: "Grand Hotel",sans-serif;
    font-size: 30px;
    margin: 0;

    text-align: center;
    
}
.container-9 .area-btn-link{
    background: #ececec none repeat scroll 0 0;
    float: left;
    margin: 13px 0 0;
    padding: 21px 0 20px;
    width: 100%;
    text-align: center;
}

.container-9 .link-btn{
    border: 1px solid #e75925;
    color: #e75925;
    display: inline-block;
    
    font-family: "LatoLatin-Bold",sans-serif;
    font-size: 14.2px;
    margin: 0 33px;
    line-height: 18px;
    padding: 7px 24px 5px;
    text-align: center;
    
    text-transform: uppercase;
    width: 388px;
   
}

.container-4{margin-top: 65px; } .container-4 .row-3{background: none;} .container-5 .tt{display: block; margin-left: 0;}
.container-4 .row-2{
    margin-left: 0px;
    padding-top: 40px;
    width: 100%;
    background: none;
    padding-bottom: 25px;
}
.container-4 .row-2 table, .container-4 .row-2 .item{
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
	width: 300px;
	float: left;
}
.container-4 .row-2 .clear-fix .item:last-of-type{
    margin-right: 0;
}
.container-4 .row-2 table h2, .container-4 .row-2 .item h2{
	font-size: 15.5px;
	font-family: "LatoLatin-Bold",sans-serif;
	margin: 23px 0 18px;
}
.container-4 .row-2 table:nth-of-type(4){
	margin: 0;
}


.contain .amc-column-fixpadding{
    padding: 0;
}
.container-4 .amc-col a:hover{
    color: #e75925;
}
#slideCarousel .carousel-control-next-icon, #slideCarousel .carousel-control-prev-icon{
    background-image: url(/assets/img/page2016/arrow_next_1.png);
    width: 10px;
    height: 16px;
}
#slideCarousel .carousel-control-prev-icon{
    transform: rotate(180deg);
}
.carousel-control-next, .carousel-control-prev{
    opacity: 1;
}
.img-responsive{
    width: 100%;
}
@media (max-width: 960px){
    .container-4 .row-slide .amc-col-1{
        height: auto;
    }
    .container-4 .row-2 table{
        width: 163px;
    }
    .container-4 .row-2 table img{
        height: auto !important;
        width: auto !important;
        max-width: 100% !important;
    }
    .container-4 .row-2 .item{
        width: 220px;
    }
}