/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2016, 10:29:54 AM
    Author     : dtnguyen
*/
.text-sologan{
    background: rgba(0,0,0, 0.6);
    position: relative;
    z-index: 1;
}
.area-btn-list-menu{
    background: rgba(255,255,255, 0.8);
    z-index: 1;
}
.contain{
    float: left;
    clear: left;
    width: 100%;
    height: auto;
    font-size: 15.5px;
    font-family: 'LatoLatin-Regular', sans-serif;
}
.contain .amc-column{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.contain .amc-column-fixpadding{
    
   
}
.contain .amc-column .rows {
    clear: left;
    width: 100%;
    float: left;
}
.container-1 .row-1{
     background: rgba(0,0,0, 0.5);
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 150px;
}
.container-1 .breadcrumb{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    height: 23px;
    background: none;
}

.container-1 .breadcrumb a, .container-1 .breadcrumb span{
    font-size: 13px;
    color: white;
    font-family: inherit;
}
.container-1 .breadcrumb a:hover{
    text-decoration: underline;
}
.container-1{
    margin-top: -150px;
    position: relative;
    z-index: 0;
}
.container-1 .row-2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.container-1 .amc-column .title{
    color: white;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0px 0 0px 0;
}
.container-2 .amc-column{
    text-align: center;
    padding: 0 100px;
    margin: 50px auto;
}
.container-2 .tt-2{
    line-height: 22px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'LatoLatin-Bold', sans-serif;
    margin: 45px 0 20px;
}
.container-3.loaded{
    background: url(/assets/img/page2016/bg_2_exclusi_type.jpg) center center no-repeat;
    background-size: cover;
} 
.container-3 .amc-column{
    padding: 20px 10px;
}
.container-3 .tt-1, .container-3 .tt-2{
    margin: 0;
}
.container-3 .tt-2{
    font-size: 18px;
    text-transform: uppercase;
    color: #e1653f;
    font-family: 'LatoLatin-Bold', sans-serif;
}


.container-4 .row-1 .amc-col{
    float: left;
}
.container-4 .row-1 .amc-col-1{
    width: 693px;
    
}
.container-4 .row-1 .amc-col-2{
    width: 221px;
    float: right;
}
.container-4 .item{
    margin: 0 0px 0px;
    width: 329px;
    float: left;
}
.container-4 .item:nth-of-type(3n+1){
    margin: 0 35px 0px 0;
}
.container-4 .item .time{
    font-size: 13.5px;
    margin: 20px 0 0 0;
}
.container-4 .item .tt{
    font-size: 18px;
    text-transform: inherit;
    margin: 0;
    padding: 0;
    font-family: 'LatoLatin-Bold', sans-serif;
    margin-bottom: 17px !important;
}
.container-4 .item a:hover .tt{
    
}
.container-4 .item .summary{
    margin: 0px 0;
    
}
.container-4 .item ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container-4 .item ul li{
    float: left;
    font-size: 13.5px;
    margin: 3px 0;
    padding: 12px 0px 0 28px;
}
.container-4 .item .posi{
    
    
    background: url(/assets/img/page2016/icon_destination.png) 0 0 no-repeat transparent;
    
}
.container-4 .item .calendar{
    margin-right: 20px;
     background: url(/assets/img/page2016/icon_time.png) 0 10px no-repeat transparent;
}
.container-4 .search-form{
    margin: 0 0px 0 20px;
    background: #3e3e3e;
    padding: 20px;
}
.container-4 .search-form .cs-select{
  //  border: 1px solid #8b8b8b;
   // border-radius: 5px;
    color:white;
    font-size: 13.5px;
    font-family: inherit;
    margin-bottom: 20px;
    
}
.container-4 .search-form .cs-select .cs-placeholder{
    display: block;
    padding: 0 25px 0 10px;
    background: url(/assets/img/page2016/arrow_dropdown_white.png) 95% center no-repeat;
    cursor: pointer;
     border: 1px solid #8b8b8b;
    border-radius: 3px;
    line-height: 31px;
}
.container-4 .search-form .cs-select.active .cs-placeholder{
    border-bottom: 1px solid #8b8b8b;
    border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
}
.container-4 .search-form .cs-select .cs-options{
    display: none;
     border: 1px solid #8b8b8b;
     border-top: 0px;
     border-bottom-left-radius: 3px;
     border-bottom-right-radius: 3px;
     padding: 3px 0;
}
.container-4 .search-form .cs-select .cs-options ul{
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
}
.container-4 .search-form .cs-select .cs-options ul li{
    padding: 3px 0 3px 25px;
    background: url(/assets/img/page2016/bg_list.png) 0px 5px no-repeat;
    margin: 0px 0;
    cursor: pointer;
}
.container-4 .search-form .cs-select .cs-options ul li:hover{
    color: #e1653f;
}
.container-4 .search-form .cs-select .cs-options ul li.active{
    background: url(/assets/img/page2016/bg_list_active.png) 0px 5px no-repeat;
}
.container-4 .search-form .cs-select.submit{
    text-transform: uppercase;
    text-align: center;
    background: #da521f;
    border: 0px;
    padding: 0 10px;
    cursor: pointer;
    font-family: "LatoLatin-Bold", sans-serif;
    border-radius: 3px;
    line-height: 33px;
    margin-bottom: 0;
}
.container-4 .search-form .cs-select.submit:hover{
    opacity: 0.8;
}
.container-4 .search-form .cs-select .list-option ul{
    
    list-style-image: url(/assets/img/page2016/bg_list_form.png);
      margin: 0 0 0 2px;
    padding: 0 0 0 10px;
}
.container-4 .search-form .cs-select .list-option ul li{
    
    color: #d1d1d1;
   
    line-height: 19px;
    font-size: 12px;
    padding: 0px 20px 0 5px;
    margin: 3px 6px 3px 0;
    cursor: auto;
    position: relative;
    text-align: left;
}
.container-4 .search-form .cs-select .list-option ul li span{
    
    width: 10px;
    height: 10px;
    //border: 1px solid red;
    margin-left: 10px;
    background: url(/assets/img/page2016/icon_x.png) center center no-repeat;
    text-indent: -9999px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 6px;
}

/*.container-4 .search-form .cs-select{
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    color:white;
    font-size: 13.5px;
    font-family: inherit;
    margin-bottom: 20px;
    
}
.container-4 .search-form .cs-select .cs-placeholder{
    display: block;
    padding: 5px 20px;
    background: url(/assets/img/page2016/arrow_dropdown_white.png) 95% center no-repeat;
    cursor: pointer;
}
.container-4 .search-form .cs-select.active .cs-placeholder{
    border-bottom: 1px solid #8b8b8b;
}
.container-4 .search-form .cs-select .cs-options{
    display: none;
}
.container-4 .search-form .cs-select .cs-options ul{
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
}
.container-4 .search-form .cs-select .cs-options ul li{
    padding: 3px 0 3px 25px;
    background: url(/assets/img/page2016/bg_list.png) 0px 5px no-repeat;
    margin: 5px 0;
    cursor: pointer;
}
.container-4 .search-form .cs-select .cs-options ul li:hover{
    color: #e1653f;
}
.container-4 .search-form .cs-select .cs-options ul li.active{
    background: url(/assets/img/page2016/bg_list_active.png) 0px 5px no-repeat;
}
.container-4 .search-form .cs-select.submit{
    text-transform: uppercase;
    text-align: center;
    background: #da521f;
    border: 0px;
    padding: 10px;
    cursor: pointer;
}*/
.container-4 .see-more{
    clear: left;
    width: 100%;
    text-align: center;
}
/*.container-4 .see-more .btn-submit{
    font-size: 13.5px;
    font-family: 'LatoLatin-Bold', sans-serif;
    border: 1px solid #e1653f;
    color: #e1653f;
    padding: 5px 10px;
    text-transform: uppercase;
    line-height: 25px;
    cursor: pointer;
    border-radius: 5px;
}*/
.container-4 .see-more .btn-submit span{
    display: inline-block;
    text-indent: -9999px;
    border-radius: 100%;
    
    width: 25px;
    height: 25px;
    background: url(/assets/img/page2016/arrow_dropdown_white.png) center center no-repeat #da521f;
    margin: 0 0px 0 10px;
}
.container-4 .rows .title-tt {
    font-size: 22px;
    margin: 20px 0;
    text-transform: uppercase;
}

.container-4 .row-1 {
  //  background: transparent url("/assets/img//page2016/bg_border.png") no-repeat scroll center bottom;
    float: left;
    padding: 0px 0 0px;
}

.container-4 .row-2{
    text-align: center;
    padding: 20px 0;
}
.container-4 .row-2 .item{
    width: 168px;
    margin: 0 10px;
    float: left;
}
.container-4 .row-2 .rr{
    padding: 15px 0;
    clear: left;
    float: left;
}
.container-4 .row-2 .item .tt-1{
    font-size: 14.5px;
    margin: 10px 0 0;
}
.container-4 .row-2 .item .tt-2{
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
}

.container-5{
    
    text-align: center;
    
}

.container-5 .rows{
      background: #ececec none repeat scroll 0 0;
    float: left;
    padding: 20px 0px;
    width: 100%;
    text-align: center;
}

.container-5 .tt{
     display: inline-block;
   
    font-family: "Grand Hotel",sans-serif;
    font-size: 30px;
    line-height: 25px;
    margin: 0 35px;
}

.container-5 a{
    border: 1px solid #da521f;
    color: #da521f;
    display: inline-block;
    
    font-family: "LatoLatin-Bold",sans-serif;
    font-size: 14.2px;
    line-height: 22px;
    margin: 0 35px;
    padding: 5px 20px;
    text-transform: uppercase;
    
}
.container-5 a:hover{
    background: #da521f;
    color: white;
    border-color: #da521f;
}
.clear-fix{
    display: table;
}

.pagination.pagination-centered ul{
    margin: 10px 0 35px;
    
}
.pagination.pagination-centered ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
    height: 30px;
    width: 30px;
    position: relative;
        
}
.pagination.pagination-centered ul li a{
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    bottom: 0;
    color: #888888;
    font-family: "LatoLatin-Bold",sans-serif;
    font-size: 18px;
    height: 20px;
    left: 0;
    //line-height: 20px;
    margin: auto;
    padding: 0;
    position: absolute;
    right: 0;
   // top: 0;
    width: 20px;
}
/* Css style button See more */
.space{
    display: block;
    
    width: 100%;
    clear: both;
    border: none;
    margin: 0;
    padding: 0;
}
.space-65{
    height: 65px;
    
}
.space-40{
    height: 38px;
}
.space-50{
    height: 50px;
}
.space-25{
    height: 25px;
}
.space-30{
    height: 30px;
}
.see-more{
    clear: left;
    width: 100%;
    text-align: center;
     float: left;
     margin: 35px 0 0px;
}
.see-more-fix{
    background: rgba(0, 0, 0, 0) url("/assets/img//page2016/bg_border.png") no-repeat scroll center center;
    height: 1px;
}
.see-more .btn-submit{
     border: 1px solid #e1653f;
    border-radius: 6px;
    color: #e1653f;
    cursor: pointer;
    display: inline-block;
    font-family: "LatoLatin-Bold",sans-serif;
    font-size: 13.5px;
    line-height: 33px;
    padding: 5px 20px;
    text-transform: uppercase;
}


.see-more .btn-submit span{
    display: inline-block;
    text-indent: -9999px;
    border-radius: 100%;
    
    width: 25px;
    height: 25px;
    background: url(/assets/img/page2016/arrow_dropdown_white.png) center center no-repeat #da521f;
    margin: 0px 0px 0 10px;
}
.see-more .btn-submit:hover span{
     background: url(/assets/img/page2016/arrow_down_cam.png) center center no-repeat white;
}



.ajaxfilter, .getcontent{
    float: left;
    width: 100%;
}
/* End See more */

@media (max-width: 960px){
    
   
}