/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2016, 10:29:54 AM
    Author     : dtnguyen
*/
.text-sologan{
    background: rgba(0,0,0, 0.6);
    position: relative;
    z-index: 1;
}
.area-btn-list-menu{
    background: rgba(255,255,255, 0.8);
    z-index: 1;
}
.contain{
    
    width: 100%;
    height: auto;
    font-size: 15.5px;
    font-family: 'LatoLatin-Regular', sans-serif;
}
.contain .amc-column{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}
.container-1 .row-1{
     background: rgba(0,0,0, 0.5);
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 150px;
}
.container-1 .breadcrumb{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    height: 23px;
    background: none;
}

.container-1 .breadcrumb a, .container-1 .breadcrumb span{
    font-size: 13px;
    color: white;
    font-family: inherit;
}
.container-1 .breadcrumb a:hover{
    text-decoration: underline;
}
.container-1{
    margin-top: -150px;
    position: relative;
    z-index: 0;
}
.container-1 .row-2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.container-1 .row-2 .tt-s{
    font-size: 22px;
    color: white;
    margin: -20px 0 30px;
}
.container-1 .amc-column .title{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 37px;
}
.container-2 .amc-column{
    text-align: center;
    
    margin: 0px auto 0;
}
.container-2 h1{
    font-size: 24px;
    margin: 0 0px 20px;
    font-family: 'LatoLatin-Bold', sans-serif;
}
.container-2 .row-1{
    margin: 23px 0 0;
    clear: left;
    padding-top: 54px;
}
.container-2 .row-1 .amc-col{
    float: left;
}
.container-2 .row-1 .amc-col-1{
    width: 220px;
    background: #3e3e3e;
    margin-right: 50px;
}
.container-2 .row-1 .amc-col-2{
    width: 670px;
    text-align: left;
}

.container-2 .row-1 .amc-col-2 .nameClient{
    display: block;
    font-size: 13.5px;
    margin-top: 0;
    margin-bottom: 5px;
}


.container-2 .fix-call{
    padding: 40px 0 0px;
    border-top: 1px solid #d0c6a4;
    margin-top: 50px;
    clear: left;
}
.container-2 .fix-call .tt{
    font-size: 30px;
    font-family: 'Grand Hotel', sans-serif;
    display: inline-block;
}
.container-2 .fix-call a{
    font-size: 18px;
    display: inline-block;
    padding-left: 50px;
    background: url(/assets/img/page2016/icon-phone.png) 0 center no-repeat;
    background-size: 74px 74px;
    margin-left: 50px;
    padding: 25px 0 25px 90px;
}
.container-2 .amc-col-2 .gro-info{
    list-style: none;
    margin: 0;
    padding: 0 0 20px 0;
    clear: both;
    float: left;
    width: 100%;
    border-bottom: 1px solid #d0c6a4;
}
.container-2 .amc-col-2 .gro-info li{
    float: left;
    margin: 0 40px 0 0;
    font-size: 14.2px;
    line-height: 30px;
}
.container-2 .amc-col-2 .gro-info li.calendar{
    background: url(/assets/img/page2016/icon_time.png) 0 5px no-repeat;
    padding: 0px 0 0px 30px;
}
.container-2 .amc-col-2 .gro-info li.posi{
    background: url(/assets/img/page2016/icon_destination.png) 0 0 no-repeat;
    padding: 0px 0 0px 30px;
}
.container-2 .amc-col-2 .gro-info li.contact{
    background: url(/assets/img/page2016/icon-mail.png) 0 5px no-repeat;
    padding: 0px 0 0px 50px;
}
.container-2 .amc-col-2 .list-posi{
    clear: left;
    float: left;
    margin: 40px 0 22px;
    width: 100%;
}
.container-2 .amc-col-2 .list-posi span{
    display: block;
    line-height: 40px;
    padding-left: 50px;
    background: url(/assets/img/page2016/icon_tt_program.png) 0 center no-repeat;
}
.container-2 .amc-col-2 .list-posi p{
    padding-left: 50px;
}

.container-2 .amc-collection-image{
    float: left;
  //  border-bottom: 1px solid #cbc0a2;
  border-top: 1px solid #d0c6a4;
  margin: 40px 0 0 0;
  padding: 40px 0;
}
.container-2 .amc-collection-image .amc-col-left,.container-2 .row-2 .amc-collection-image .amc-col-right{
    float: left;
}
.container-2 .amc-collection-image .amc-col-left{
     float: left;
    margin-right: 20px;
    width: 313px;
}
.container-2 .amc-collection-image .amc-col-right{
     float: left;
    margin: 0 0px 0 7px;
    width: 330px;
}
.container-2 .amc-collection-image a{
    display: block;
    float: left;
    margin: 20px 0;
    position: relative;
}
.container-2 .amc-collection-image a .caption{
    position: absolute;
    left: 20px;
    bottom: 15px;
    font-size: 18px;
    font-family: inherit;
    color: white;
}
.container-2 .amc-collection-image .show-album{
    font-size: 13.2px;
    font-family: "LatoLatin-Bold",sans-serif;
    text-transform: uppercase;
    color: #e1653f;
    border: 1px solid #e1653f;
    padding: 10px 30px 10px 10px;
    float: right;
    margin: 10px 0;
    background: url(/assets/img/page2016/icon_arrow.png) 96% center no-repeat transparent;
    line-height: 22px;
}

.search-form{
    
    background: #3e3e3e;
    padding: 20px 18px;
}
/*.search-form .cs-select{
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    color:white;
    font-size: 13.5px;
    font-family: inherit;
    margin-bottom: 20px;
    
}
.search-form .cs-select .cs-placeholder{
    display: block;
    padding: 5px 20px 5px 10px;
    background: url(/assets/img/page2016/arrow_dropdown_white.png) 95% center no-repeat;
    cursor: pointer;
    text-align: left;
}
.search-form .cs-select.active .cs-placeholder{
    border-bottom: 1px solid #8b8b8b;
}
.search-form .cs-select .cs-options{
    display: none;
}
.search-form .cs-select .cs-options ul{
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
}
.search-form .cs-select .cs-options ul li{
    padding: 3px 0 3px 25px;
    background: url(/assets/img/page2016/bg_list.png) 0px 5px no-repeat;
    margin: 5px 0;
    cursor: pointer;
    text-align: left;
}
.search-form .cs-select .cs-options ul li:hover{
    color: #e1653f;
}
.search-form .cs-select .cs-options ul li.active{
    background: url(/assets/img/page2016/bg_list_active.png) 0px 5px no-repeat;
}
.search-form .cs-select.submit{
    text-transform: uppercase;
    text-align: center;
    background: #da521f;
    border: 0px;
    padding: 8px;
    cursor: pointer;
    font-size: 13.5px;
    font-family: 'LatoLatin-Bold', sans-serif;
    margin: 0;
}*/
.search-form .cs-select{
  //  border: 1px solid #8b8b8b;
   // border-radius: 5px;
    color:white;
    font-size: 16px;
    font-family: inherit;
    margin-bottom: 20px;
    
}
.search-form .cs-select .cs-placeholder{
    display: block;
    padding: 0 25px 0 10px;
    background: url(/assets/img/page2016/arrow_dropdown_white.png) 95% center no-repeat;
    cursor: pointer;
     border: 1px solid #8b8b8b;
    border-radius: 3px;
    line-height: 31px;
    text-align: left;
}
.search-form .cs-select.active .cs-placeholder{
    border-bottom: 1px solid #8b8b8b;
    border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
}
.search-form .cs-select .cs-options{
    display: none;
     border: 1px solid #8b8b8b;
     border-top: 0px;
     border-bottom-left-radius: 3px;
     border-bottom-right-radius: 3px;
     padding: 3px 0;
}
.search-form .cs-select .cs-options ul{
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
}
.search-form .cs-select .cs-options ul li{
    padding: 3px 0 3px 25px;
    background: url(/assets/img/page2016/bg_list.png) 0px 5px no-repeat;
    margin: 0px 0;
    cursor: pointer;
    text-align: left;
}
.search-form .cs-select .cs-options ul li:hover{
    color: #e1653f;
}
.search-form .cs-select .cs-options ul li.active{
    background: url(/assets/img/page2016/bg_list_active.png) 0px 5px no-repeat;
}
.search-form .cs-select.submit{
    text-transform: inherit;
    text-align: center;
    background: #da521f;
    border: 0px;
    padding: 0 10px;
    cursor: pointer;
    font-family: "LatoLatin-Bold", sans-serif;
    border-radius: 3px;
    line-height: 33px;
    margin-bottom: 0;
}
.search-form .cs-select.submit:hover{
    opacity: 0.8;
}
.search-form .cs-select .list-option ul{
    
    list-style-image: url(/assets/img/page2016/bg_list_form.png);
      margin: 0 0 0 2px;
    padding: 0 0 0 10px;
}
.search-form .cs-select .list-option ul li{
    
    color: #d1d1d1;
   
    line-height: 19px;
    font-size: 12px;
    padding: 0px 20px 0 5px;
    margin: 3px 6px 3px 0;
    cursor: auto;
    position: relative;
    text-align: left;
}
.search-form .cs-select .list-option ul li span{
    
    width: 10px;
    height: 10px;
    //border: 1px solid red;
    margin-left: 10px;
    background: url(/assets/img/page2016/icon_x.png) center center no-repeat;
    text-indent: -9999px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 6px;
}

.container-5{
    
    text-align: center;
    margin-top: 50px;
    
}

.container-5 .rows{
      background: #ececec none repeat scroll 0 0;
    float: left;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.container-5 .tt{
     display: inline-block;
    
    font-family: "Grand Hotel",sans-serif;
    font-size: 30px;
    line-height: 25px;
    margin: 0 35px;
}

.container-5 a{
    border: 1px solid #da521f;
    color: #da521f;
    display: inline-block;
    
    font-family: "LatoLatin-Bold",sans-serif;
    font-size: 14.2px;
    line-height: 22px;
    margin: 0 35px;
    padding: 5px 20px;
    text-transform: uppercase;
    
}


.form-search .cs-select .cs-options-active {
    display: block;
}
.footer-bg{
    float: left;
    clear: left;
}
.contain.container-1{
    clear: left;
    float: left;
}
@media (max-width: 960px){
    .container-2 .row-1{
        margin-top: 0 !important;
    }
    .container-2 .row-1 .amc-col-2{
        width: 100%;
    }
    .responsive-search-temoi{
        float: left;
        width: 100%;
        padding: 25px;
    }
    .responsive-search-temoi .search-destination, .responsive-search-temoi .search-type, .responsive-search-temoi .search-theme{
         float: left !important;
        margin-right: 15px;
        position: relative;
        width: 200px !important;
        margin-bottom: 25px;
    }
    .responsive-search-temoi .search-theme{
        margin-right: 0;
    }
    .responsive-search-temoi .cs-select.submit{
        float: left;
        width: 100%;
    }
    .responsive-search-temoi .cs-select .cs-options{
        position: absolute;
        left: 0;
        top: 32px;
        background: #3e3e3e none repeat scroll 0 0;
    }
    .responsive-search-temoi .list-option{
        display: none;
    }
    
    .container-1 .breadcrumb{
        margin-top: 6px !important;
        height: auto !important;
    }
    .breadcrumb .item{
        line-height: 0.5 !important;
        height: 15px !important;
    }
    .container-1 .breadcrumb a, .container-1 .breadcrumb span{
        line-height: 1 !important;
    }
    .container-1{
        margin-top: 0 !important;
    }
    .container-1 .row-1{
        position: initial !important;
    }
}