/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2016, 10:29:54 AM
    Author     : dtnguyen
*/
.prog-zero-text, .excl-zero-text{
    display: none;
}
.prog-zero-text.active, .excl-zero-text.active{
    display: block;
}
.text-sologan{
    background: rgba(0,0,0, 0.6);
    position: relative;
    z-index: 1;
}
.area-btn-list-menu{
    background: rgba(255,255,255, 0.8);
    z-index: 1;
}
.contain{
    float: left;
    clear: left;
    width: 100%;
    height: auto;
    font-size: 15.5px;
    font-family: 'LatoLatin-Regular', sans-serif;
}
.contain .column{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.contain .column-fixpadding{
    
    padding: 0 0px;
}
.contain .column .rows {
    clear: left;
    width: 100%;
    float: left;
}
.container-1 .row-1{
     background: rgba(0,0,0, 0.5);
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 150px;
}
.container-1 .breadcrumb{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    height: 23px;
    background: none;
}

.container-1 .breadcrumb a, .container-1 .breadcrumb span{
    font-size: 13px;
    color: white;
    font-family: inherit;
}
.container-1 .breadcrumb a:hover{
    text-decoration: underline;
}
.container-1{
    margin-top: -150px;
    position: relative;
    z-index: 0;
}
.container-1 .row-2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.container-1 .column .title{
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 0 0 30px 0;
}

.container-2 .row-1 .col{
    float: left; 
}
.container-2 .row-1 .col-1 .count-tour{
     position: absolute;
    text-align: center;
    top: 50%;
    width: 166px;
}
.container-2 .row-1 .col-1 .count-tour .count-numb{
    font-size: 50px;
    color: #e75925;
    margin: -10px 0 0;
    display: inline-block;
}
.container-2 .row-1 .col-1 .tt{
    font-size: 22px;
    text-transform: uppercase;
    line-height: 25px;
}
.container-2 .row-1 .col .t-2{
    text-transform: uppercase;
    font-size: 18px;
}
.container-2 .row-1 .col .t-1,
.container-2 .row-1 .col .t-2{
    margin-left: 0;
    clear: both;
}
.container-2 .row-1 .col-1{
    width: 160px;
    margin-right: 50px;
    display: table;
    padding: 20px 0 0 0;
}
.container-2 .row-1 .col-2 .clear-fix{
    display: table;
}
.container-2 .row-1 .col-2 .item{
    float: left;
    width: 195px;
    margin: 0 0 20px 0;
}
.container-2 .row-1 .col-2 .rr{
    float: left;
    clear: left;
    padding: 20px 0;
}
.bx-wrapper{
    float: left;
}
.container-2 .row-1 .col-2 .r-2{
/*    background: url(/assets/img/page2016/bg_border_add.jpg) 15px top no-repeat;
*/}
.container-2 .row-1 .col-2 .r-2{
    margin-top: 15px;
}
.container-2 .row-1 .col-2 .item .tt{
    border-bottom: 1px solid #cbc0a2;
   // color: #cbc0a2;
    padding: 10px 0 5px;
}
.container-2 .row-1 .col-2 .item .btn-add{
   display: inline-block;
    padding: 0 30px 0 0;
   
    color: #da521f;
    
    font-size: 12.5px;
    background: url(/assets/img/page2016/icon_del.png) right center no-repeat;
   // margin: 15px 0 0;
   width: 12px;
   height: 20px;
}

.container-2 .row-1 .col-2 .item .link-to-form{
    color: #da521f;
    font-size: 12.5px;
    height: 19px;
    line-height: 19px;
    vertical-align: top;
}
.container-2 .row-1 .col-2 .item .btn-add.active{
    
    padding: 0 10px;
    border: 1px solid #da521f;
    color: #da521f;
    line-height: 33px;
    font-size: 12.5px;
    text-transform: uppercase;
    margin: 15px 0 0;
    background: none;
}

.container-2 .row-1 .col-2 .item .tt.active{
     color: #cbc0a2;
}
.container-2 .row-2{
    margin: 0px 0 20px 0px;
	padding-left: 130px;
}
.container-2 .row-2 .item{
    float: left;
}
.container-2 .row-2 .item-1{
    width: 220px;
}
.container-2 .row-2 .item-1 .tt{
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'LatoLatin-Bold', sans-serif;
    line-height: 25px;
    margin: 30px 0 0 0;
    color: #da521f;
}
.container-2 .row-2 .item-2{
    margin: 0 20px;
    padding: 10px 0 0 0;
}
.container-2 .row-2 .item-3{
    width: 250px;
    text-align: center;
}
.container-2 .row-2 .item-3 .show-form{
    padding: 0 50px 0 15px;
    display: inline-block;
    background: url(/assets/img/page2016/arrow_dropdown_white.png) 91% center no-repeat #da521f;
    color: white;
    font-size: 14.2px;
    text-transform: uppercase;
    line-height: 38px;
	display: none;
}
.container-2 .row-2 .item-3 .text{
	margin: 30px 0 0 0;
}
.container-2 .row-2 .item-3 .show-form:hover{
   // opacity: 0.8;
}
/*.container-2 .area-form{
    display: none;
}*/
.container-2 .area-form.active{
    display: block;
}
.has-error input, .has-error select, .has-error textarea{
   
    border: 1px solid #e25825 !important;
} 
.form input, .form select{
    border: 1px solid #d9d9d9;
    height: 42px;
    line-height: 44px;
    padding: 0 10px;
}
.form textarea{
    border: 1px solid #d9d9d9;
    width: 100%;
    padding: 10px;
}
.form{
    width: 870px;
    margin: 0 auto;
}
.text .tt{
    font-size: 22px;
    font-family: 'LatoLatin-Bold', sans-serif;
    margin: 40px 0 0px;
    text-transform: uppercase;
    color: #e75925;
}
.form td{
    padding: 10px 0;
}
.input_full{
    width: 100%;
}
.code-anti{
    vertical-align: top;
}
.fix-text-code{
    margin: 20px 0 0;
}
#btn-valider-big{
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    background: #da521f url(/assets/img/page2016/arrow_white.png) 328px center no-repeat;
    display: inline-block;
    width: 396px;
    line-height: 59px;
    height: 57px;
    float: left;
    text-align: center;
    font-family: 'LatoLatin-Bold', sans-serif;
    margin: 40px 0 35px;
    border-radius: 5px;
    padding-right: 32px;
}
#btn-valider-big:hover{
    opacity: 0.8;
}
.error-summary ul li{
     color: #e26640;
    
}
.input-prefix{
    width: 70px;
    margin-right: 30px;
   
}
.form .fix-arrow{
     background: #fff url(/assets/img/page2016/arrow_up_down_cam.png) no-repeat scroll right center;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
     appearance: none !important;
     -ms-accelerator: none !important;
     padding-right: 27px;
}
.form .rdv .fix-arrow{
     background: #fff url(/assets/img/page2016/arrow_down_black.png) no-repeat scroll right center;
    -moz-appearance: none !important;
     padding-right: 27px;
}
.input-country{
    width: 100%;
}
.input-region{
    width: 100%;
}
.input-fullname{
    width: 100%;
}
.fix-tt{
  margin: 0 20px 0;  
}
.input-ville{
   
    width: 100%;
}
.text-top-form{
    width: 670px;
    margin: 0 auto;
    text-align: center;
}

.text-area{
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    background: url(/assets/img/page2016/bg_border.png) center 0 no-repeat;
    margin: 30px 0 10px;
    padding-top: 30px;
}
.text-area-1{
    margin-top: 33px;
    padding-top: 34px;
}
.text-area-2{
    margin-top: 33px;
    padding-top: 34px;
}
.text-area-3{
    margin-top: 30px;
    padding-top: 34px;
}
.text-area-4{
    margin-top: 33px;
    padding-top: 34px;
}
.text-area-5 {
    margin: 26px 0 0;
    padding-top: 14px;
}
.input-departureDate{
    width: 130px;
}
.input-deretourDate{
    width: 130px;
}
span.field-devisform-departuredate{
    margin-right: 30px;
}
span.field-devisform-departuredate,
span.field-devisform-deretourdate,
span.field-devisform-calldate{
    display: inline-block;
    padding-right: 40px;
    height: 100%;
    background: url(/assets/img/page2016/icon_input_datepicker.png) right 5px no-repeat;
}
.input-tourLength{
    width: 100%;
}

label{
    font-family: 'LatoLatin-Regular', sans-serif;
    display: block;
    margin: 0 15px 0 0;
    font-size: 15.5px;
    font-weight: normal;
}
#devisform-countriestovisit label{
    
}
#devisform-callback label{
    display: inline-block;
}

.form .ta-r{
    padding-right: 10px;
}
.input-numberOfTravelers12,
.input-numberOfTravelers2,
.input-numberOfTravelers0{
    width: 65px;
    
}
.input-agesOfTravelers12{
    width: 130px;
    margin-left: 0px;
}
.f-t{
    display: inline-block;
    margin-right: 13px;
}
.f-t-4{
    margin-right: 10px;
}
.f-t-3{
    margin-left: 27px;
}
.div-area{
    display: table;
    float: left;
    width: 50%;
    margin-bottom: 40px;
}
.div-area-1 select,
.div-area-3 select{
    margin-right: 20px;
}
.div-area-2 .t-t,
.div-area-4 .t-t{
    margin-left: 20px;
}
.div-area .t-t{
    display: table-cell;
    float: left;
}
.div-area-3, .div-area-4{
    margin-bottom: 10px;
}
.input-chambres{
    width: 70px;
    
}
.form .col{
    padding: 0 10px;
}
/* CUSTOM FORM RADIO */
input[type="radio"], input[type="checkbox"] {
    display:none;
}

input[type="radio"] + span, input[type="checkbox"] + span {
    display:inline-block;
    width:15px;
    height:19px;
    margin:-3px 0px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="checkbox"] + span{
    border-radius: 0px;
}

input[type="radio"] + span {
     background: url("/assets/img//page2016/bg_radio.png") no-repeat scroll left center;
}
input[type="checkbox"] + span{
    background: url("/assets/img//page2016/bg_checkbox.png") no-repeat scroll left center;
}

input[type="radio"]:checked + span{
     background: url("/assets/img//page2016/bg_list_active.png") no-repeat scroll left center;
}
input[type="checkbox"]:checked + span{
    background: url("/assets/img//page2016/bg_checkbox_active.png") no-repeat scroll left center;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span,
input[type="checkbox"] + label span,
input[type="checkbox"]:checked + label span{
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}
/* CUSTOM FORM SELECT OPTION */

#devisform-hoteltypes input[type="checkbox"] + span{
    margin-right: 8px;
}
#devisform-tourthemes input[type="checkbox"] + span{
    margin-right: 8px;
}
input[id="devisform-newsletter"] + span{
    margin-right: 8px;
}

.bx-wrapper .bx-controls-direction a {
    height: 50px;
    position: absolute;
    width: 40px;
    z-index: 0;
    margin-top: -28px;
}
.bx-wrapper .bx-controls-direction a:hover{
    opacity: 0.7;
}
.bx-wrapper .bx-prev {
    background: transparent url("/assets/img//page2016/arrow_next_prev_black.png") no-repeat scroll 10px bottom !important;
    left: -51px;
    top: 89px !important;
}
.bx-wrapper .bx-next {
   background: transparent url("/assets/img//page2016/arrow_next_prev_black.png") no-repeat scroll 10px top !important;
    right: -45px;
    top: 89px !important;
}
div.hr{
     border-top: 1px solid #c2c2c2;
    height: 2px;
    margin: 35px 0;
    width: 645px;
    float: left;
    clear: both;
}
.rows.row-1{
    position: relative;
    margin-top: 40px;
}
/* CUSTOM FORM SELECT OPTION */

.text-summary-fix{
    margin: 10px 0 -10px 0;
}
.input-fullname {
    width: 100%;
}
.col-fix-align {
    text-align: right;
}

.fix-middle-text {
    display: inline-block;
    margin-top: 13px;
}
.has-error .text-label {
    /* color: #e26640; */
}
.input-region {
    width: 100%;
}
.input-country {
    width: 100%;
}
.input-ville {
    width: 100%;
}
.fix-col-left {
    display: table;
    height: 100%;
}
.fix-col-left .middle-text {
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
}
.has-error div {
   
}
.fix-text {
    display: block;
}
.fix-text-align {
    text-align: center;
}
.t-t {
    display: inline-block;
    margin: 0 0 5px;
}

.form .help-block{
    font-size: 13px;
    font-family: 'Lato-Regular';
    font-style: italic;
    color: #e25825;
    margin: 3px 0 0 0;
}
.field-devisform-numberoftravelers12 .help-block{
    width: 300px;
    position: absolute;
    left: 112px;
}
.field-devisform-agesoftravelers12 .help-block{
    width: 300px;
    position: absolute;
    left: 112px;
}
.field-devisform-verificationcode .help-block{
    width: 300px;
    position: absolute;
    left: 8px;
    top: 40px;
}
.field-devisform-calltime .help-block{
    position: absolute;
    left: 21px;
    bottom: 0;
}

@media (max-width: 500px){
    .column{
        width: 100% !important;
        padding: 0 10px !important;
    }
    .column .col{
        width: 100% !important;
        margin: 10px 0 !important;
    }
    .item{
        width: 100% !important;
        margin: 10px 0 !important;
    }
    .column .rows{
        width: 100%;
    }
    .container-1{
        margin-top: 80px;
    }
    .container-1.fix-top{
        margin-top: 50px;
    }
    .container-1 .row-1{
        top:0;
    }
    .container-1 .breadcrumb{
        width: 100%;
        height: auto;
    }
    .container-1 .column .title{
        font-size: 20px;
    }
    .container-2 .column{
        padding: 0 10px;
    }
    .img-responsive{
        max-width: 329px;
        width: 100%;
        margin: 0 auto;
    }
    .form{
        width: 100%;
    }
    .form .col{
        padding: 0px;
    }
	.text-top-form{
        width: 100%;
    }
    .fix-text-align{
        text-align: left;
    }
    .fix-text-align .t-t{
        float: left;
    }
    .input-chambres{
        float: right;
    }
    
    .col-fix-align{
        text-align: left;
    }
    .fix-middle-text{
        margin: 0;
    }
    
    .fix-text{
        display: inline-block;
    }
    .fix-col-left{
        display: block;
        height: auto;
        min-height: auto !important;
    }
    .fix-col-left .middle-text{
        padding: 0;
    }
	
}